.mobile-menu {
    align-self: stretch;
    align-items: center;
    background-color: $mobile-menu-bg-color;
    bottom: 0;
    color: $white;
    cursor: pointer;
    display: flex;
    height: $base-gutter * 8;
    padding: $base-gutter $base-gutter * 2;
    position: absolute;
    right: 0;
    width: $base-gutter * 13;
    top: 0;
    @media screen and (min-width: $big-phone-content-size + 1) {
        display: none;
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
        margin-right: $base-gutter;
    }
    &.mobile-menu--active {
        .sandwich__line {
            &--top {
                top: 6px;
                transform: rotate(45deg);
            }
            &--middle { opacity: 0; }
            &--bottom {
                top: 6px;
                transform: rotate(-45deg);
            }
        }
    }
}
