.breadcrumbs {
    font-size: 13px;
    padding: $base-gutter * 8 0 $base-gutter * 4;
    @media screen and (max-width: $small-tablet-content-size) { display: none; }
    & + section { padding-top: 0; }
    &__link { color: $breadcrumbs-color; }
    &__list {
        align-items: center;
        display: flex;
        @media screen and (max-width: $small-tablet-content-size) { display: none; }
    }
    &__item {
        align-items: center;
        display: flex;
        &:not(:last-child) {
            &:after {
                content: '';
                @include size(6px);
                background-color: $breadcrumbs-color;
                border-radius: 50%;
                margin: 0 $base-gutter;
            }
        }
    }
}
