.badge {
  align-items: center;
  background-color: $badge-bg-color;
  border-radius: 4px;
  bottom: $base-gutter * 2;
  color: $white;
  display: flex;
  justify-content: center;
  font-size: 13px;
  height: $base-gutter * 3;
  left: $base-gutter * 3;
  position: absolute;
  text-align: center;
  width: $base-gutter * 10;
  z-index: 1;
}
