.s-delivery-map {
    padding-top: $base-gutter * 7;
}
.delivery-map {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $big-phone-content-size) {
        flex-direction: column;
    }
    &__content {
        flex: 1 1 60%;
        margin-right: $base-gutter * 5;
        max-width: 60%;
        @media screen and (max-width: $big-phone-content-size) {
            order: 2;
            flex: 1;
            max-width: 100%;
        }
    }
    &__features {
        display: flex;
        margin-top: $base-gutter * 6;
        & > * {
            &:not(:last-child) {
                margin-right: $base-gutter * 8;
                @media screen and (max-width: $big-phone-content-size) {
                    nav-right: $base-gutter * 5;
                }
            }
        }
    }
    &__feature {
        display: block;
        line-height: 1.4;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__map {
        flex: 1 1 40%;
        max-width: $base-gutter * 58;
        @media screen and (max-width: $big-phone-content-size) {
            flex: 1;
            margin-bottom: $base-gutter * 5;
            max-width: 100%;
            order: 1;
        }
        #delivery-map {
            border-radius: 10px;
            height: $base-gutter * 36;
            overflow: hidden;
        }
        .title-block {
            max-width: $base-gutter * 38;
            margin-bottom: $base-gutter * 8;
        }
    }

}

