@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  background-color: $gray-bg-color;
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: 'Rubik';
  line-height: 1.5;
  height: 100%;
  @media screen and (max-width: $small-desktop-content-size) { font-size: 14px; }
  &.is-fixed {
    height: 100%;
    overflow: hidden;
  }
}

body { height: 100%; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $base-text-color;
  text-decoration: none;
}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section {
  padding: $base-gutter * 10 0 $base-gutter * 5;
  position: relative;
  @media screen and (max-width: $big-phone-content-size) {
    padding: $base-gutter * 5 0;
  }
}

img {
  max-width: 100%;
  display: block;
}

.white-bg {
  background-color: $white;
}

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $base-content-size;
  padding: 0 $base-gutter * 12;
  width: 100%;
  @media screen and (min-width: 1450px) {
    max-width: $big-content-size;
    padding: 0 $base-gutter * 16;
  }
  @media screen and (max-width: $small-desktop-content-size) { padding: 0 $base-gutter * 5; }
  @media screen and (max-width: $small-tablet-content-size) { padding: 0 $base-gutter * 3; }
  @media screen and (max-width: $big-phone-content-size) { padding: 0 $base-gutter * 2; }
  @media screen and (max-width: $small-phone-content-size) { padding: 0 $base-gutter; }
  &.container--flex { display: flex; }
}

//Модули
@import "modules/modules";
