header.header
	.header__top
		.container.container--flex
			include ../navigation/main-nav
	.header__main
		.container.container--flex
			if(title === 'Главная страница')
				.logo.header__logo
					img(src="static/images/general/logo.svg" alt="Логотип").logo__img
			else
				a(href="index.html").logo.header__logo
					img(src="static/images/general/logo.svg" alt="Логотип").logo__img
			.search-line.header__search-line
				.search-line__icon-wrapper
					+icon('search','search-line__icon')
				.search-line__input-wrapper
					input(type="search" placeholder="Поиск по сайту").search-line__input
					.search-line__close
						+icon('close','search-line__close-icon')
			.header__contacts
				a(href="tel:+74959843257").phone +7 (495) 984-32-57
				a(href="mailto:imperial-ltd@mail.ru").mail-link imperial-ltd@mail.ru
			a(href="basket.html").basket-mini.header__basket-mini
				.basket-mini__icon-wrapper
					+icon('cart','basket-mini__icon')
				.basket-mini__content
					span.basket-mini__count 12 товаров:
					span.basket-mini__price 123 500 р.
			.mobile-menu.header__mobile-menu
				span.mobile-menu__text Меню
				.sandwich
					.sandwich__line.sandwich__line--top
					.sandwich__line.sandwich__line--middle
					.sandwich__line.sandwich__line--bottom

	include ../navigation/category-nav
