.product-prices {
    &__subtitle {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: $base-gutter * 3;
    }
    &__block {
        &:not(:last-child) { margin-bottom: $base-gutter * 5;  }
    }
    h2 {
        margin-bottom: $base-gutter * 3;
        @media screen and (max-width: $small-tablet-content-size) {
            margin-bottom: $base-gutter;
        }
    }
}

.price-table {
    @media screen and (max-width: $small-tablet-content-size) {
        display: flex;
        flex-wrap: wrap;
        margin: -$base-gutter;
    }
    &__row {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
        padding: $base-gutter 0;
        @media screen and (min-width: $small-tablet-content-size + 1) { display: flex; }
        @media screen and (max-width: $small-tablet-content-size) {
            margin: $base-gutter;
            padding: $base-gutter * 2;
            width: calc(100% / 3 - 16px);
        }
        @media screen and (max-width: $big-phone-content-size) { width: calc(100% / 2 - 16px); }
        @media screen and (max-width: $small-phone-content-size) { width: 100%; }
        &:not(:last-child) {
            @media screen and (min-width: $small-tablet-content-size + 1) {
                margin-bottom: $base-gutter;
            }
        }
    }
    &__cell {
        align-items: center;
        display: flex;
        padding: 0 $base-gutter * 3;
        @media screen and (max-width: $small-tablet-content-size) {
            padding: 0;
        }
        &:not(:last-child) {
            @media screen and (min-width: $small-tablet-content-size + 1) { border-right: 1px solid $base-border-color; }
            @media screen and (max-width: $small-tablet-content-size) {
                margin-bottom: $base-gutter * 2;
            }
        }
        &.price-table__cell {
            &--img {
                flex-direction: column;
                flex-shrink: 0;
                justify-content: center;
                @media screen and (min-width: $small-tablet-content-size + 1) { width: $base-gutter * 22; }
            }
            &--info {
                align-items: flex-start;
                flex-direction: column;
                flex-shrink: 0;
                justify-content: center;
                @media screen and (min-width: $small-tablet-content-size + 1) { width: $base-gutter * 23; };
            }
            &--name {
                flex: 1;
                @media screen and (max-width: $small-tablet-content-size) {
                    border-bottom: 1px solid $base-border-color;
                    padding-bottom: $base-gutter * 2;
                }
            }
            &--action {
                justify-content: space-between;
                flex-shrink: 0;
                width: $base-gutter * 50;
                @media screen and (max-width: $tablet-content-size) {
                    width: $base-gutter * 35;
                }
                @media screen and (max-width: $small-tablet-content-size) {
                    align-items: stretch;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    width: auto;
                }
                & > * {
                    &:not(:last-child) {
                        margin-right: $base-gutter * 1.5;
                        @media screen and (max-width: $small-tablet-content-size) { margin-right: $base-gutter * 3; }
                        @media screen and (max-width: $small-tablet-content-size) {
                            margin-right: 0;
                            margin-bottom: $base-gutter * 2;
                        }
                    }
                }
                .product-price {
                    align-items: center;
                }
            }
        }
    }
    &__ad-to-basket {
        align-items: center;
        display: flex;
        border: 1px solid $base-border-color;
        border-radius: 5px;
        padding: $base-gutter;
        @media screen and (max-width: $tablet-content-size) { flex-direction: column; }
        & > * {
            &:not(:last-child) {
                @media screen and (min-width: $tablet-content-size + 1) { margin-right: $base-gutter * 1.5; }
                @media screen and (max-width: $tablet-content-size) { margin-bottom: $base-gutter * 2; }
            }
        }
    }
    &__artikul {
        font-size: 11px;
        @media screen and (max-width: $small-tablet-content-size) {
            color: $inactive-text-color;
            align-self: flex-start;
        }
    }
}
