.product-prev {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  transition: box-shadow linear .3s;
  &:hover {
    @media screen and (min-width: $tablet-content-size + 1) {
      box-shadow: 0 4px 40px rgba(6, 6, 6, 0.3);
      .product-prev {
        &__name { color: #7d922b; }
      }
    }
  }
  &__img {
    max-height: 100%;
    max-width: 100%;
    flex-shrink: 0;
    &-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: $base-gutter;
      height: $base-gutter * 24;
      outline: none;
      padding: $base-gutter;
      position: relative;
    }
  }
  &__body {
    height: $base-gutter * 11;
    outline: none;
    padding: 0 $base-gutter * 2 $base-gutter * 2;
  }
  &__name {
    transition: color linear .3s;
    @media screen and (max-width: $tablet-content-size) {
      font-size: 14px;
    }
  }
  &__footer {
    align-items: center;
    border-top: 1px solid $base-border-color;
    display: flex;
    justify-content: space-between;
    margin: 0 $base-gutter * 2;
    padding: $base-gutter * 2 0;
    position: relative;
  }
  &__number {
    background-color: $white;
    color: $inactive-text-color;
    display: inline-block;
    font-size: 11px;
    left: 0;
    padding-right: $base-gutter;
    position: absolute;
    top: -$base-gutter;
  }
}
