.s-product-panorama { padding-bottom: 0; }

.product-panorama {
    @media screen and (min-width: $tablet-content-size + 1) {
        background-color: $dark-bg-color;
        display: flex;
        overflow: hidden;
        padding: $base-gutter * 4 $base-gutter * 5 $base-gutter * 4 $base-gutter * 2;
    }
    &__view {
        flex: 1;
        margin-right: $base-gutter * 5;
        @media screen and (max-width: $tablet-content-size) { height: 600px; }
        @media screen and (max-width: $big-phone-content-size) { height: 220px; }
    }
    &__slider {
        flex-shrink: 0;
        @media screen and (min-width: $tablet-content-size + 1) {
            width: $base-gutter * 35;
        }
        .slider-navigation {
            margin-top: $base-gutter * 2;
            @media screen and (min-width: $tablet-content-size + 1) { justify-content: space-between; }
        }
        .product-prev {
            @media screen and (max-width: $tablet-content-size) {
                margin: 0 $base-gutter / 2;
            }
        }
    }
    &__title {
        font-size: 25px;
        line-height: 1.3;
        margin-bottom: $base-gutter * 2;
    }
}
