.s-product-info {
  padding: 0;
  @media screen and (max-width: $small-tablet-content-size) {
    padding-top: $base-gutter * 2;
  }
}

.product-info {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  display: flex;
  padding: $base-gutter * 3;
  @media screen and (max-width: $small-tablet-content-size) {
    flex-direction: column-reverse;
    padding: $base-gutter * 4 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: $base-gutter * 12;
    padding: $base-gutter * 3 0 $base-gutter * 2 $base-gutter * 3;
    @media screen and (max-width: $small-desktop-content-size) {
      margin-right: $base-gutter * 8;
      padding: 0;
    }
    @media screen and (max-width: $small-tablet-content-size) {
      margin-right: 0;
      padding: $base-gutter * 3 $base-gutter * 3 0;
    }
    h1 {
      @media screen and (max-width: $tablet-content-size) { font-size: 33px; }
      @media screen and (max-width: $small-tablet-content-size) { display: none; }
    }
  }
  &__media {
    flex-shrink: 0;
    overflow: hidden;
    @media screen and ( min-width: $small-tablet-content-size + 1 ) { width: $base-gutter * 62; }
    .product-mobile-title {
      display: block;
      font-size: 33px;
      line-height: 1;
      margin-bottom: $base-gutter * 6;
      padding: 0 $base-gutter * 3;
      @media screen and (min-width: $small-tablet-content-size + 1) { display: none; }
    }
  }
  &__characteristics {
    margin-bottom: $base-gutter * 4;
    & > * {
      margin: $base-gutter 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
  &__characteristic {
    display: flex;
    font-size: 13px;
  }
  &__label {
    flex-shrink: 0;
    font-weight: 500;
    width: $base-gutter * 12;
  }
  &__more {
    color: $mail-link-color;
  }
  &__artikul {
    position: relative;
    width: 100%;
    &-number {
      background-color: $white;
      color: $inactive-text-color;
      display: inline-block;
      font-size: 11px;
      padding-right: $base-gutter * 2;
      position: relative;
      z-index: 1;
    }
    &:after {
      content: '';
      background-color: $base-border-color;
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @media screen and (min-width: $small-tablet-content-size + 1) { display: none; }
    }
  }
  &__footer {
    position: relative;
    @media screen and (min-width: $tablet-content-size + 1) {
      margin-top: auto;
      padding-right: $base-gutter * 30;
    }
    &-line {
      align-items: center;
      display: flex;
      &:not(:last-child) {
        margin-bottom: $base-gutter * 2;
        @media screen and (max-width: $tablet-content-size) { margin-bottom: $base-gutter * 4; }
        @media screen and (max-width: $small-tablet-content-size) { margin-bottom: $base-gutter; }
      }
      .product-price { margin-right: $base-gutter * 2; }
    }
    .product-colors {
      @media screen and (min-width:  1280px) {
        bottom: $base-gutter;
        right: 0;
        position: absolute;
      }
      @media screen and (max-width: $tablet-content-size) {
        bottom: auto;
        top: 0;
      }
      @media screen and (max-width: $small-tablet-content-size) {
        margin-bottom: $base-gutter * 4;
      }
    }
  }
}
