.product-slider {
  margin-bottom: $base-gutter * 2;
  position: relative;
  &__item {
    outline: none;
    overflow: hidden;
    img {
      margin: 0 auto;
    }
    .spritespin {
      margin: 0 auto;
    }
  }
  .slider__dots {
    margin-top: $base-gutter * 2;
    @media screen and (min-width: $small-tablet-content-size + 1) {
      display: none;
    }
  }
  .slider-navigation {
    &__btn {
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      &.slider-navigation__btn {
        @media screen and (max-width: $small-tablet-content-size) {
          display: none;
        }
        &--prev { left: $base-gutter * 2; }
        &--next { right: $base-gutter * 2; }
      }
    }
  }
}


.product-slider-nav {
  margin: 0 -4px;
  @media screen and (max-width: $small-tablet-content-size) {
    display: none;
  }
  &__item {
    height: 60px;
    margin: 0 $base-gutter / 2;
    outline: none;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
