.product-colors {
  align-items: center;
  display: flex;
  margin-left: auto;
  &__text {
    font-size: 13px;
    margin-right: $base-gutter;
  }
  &__list {
    align-items: center;
    display: flex;
  }
}

.product-color {
  position: relative;
  &:hover {
    .product-color {
      &__tooltip { display: flex; }
    }
  }
  &:not(:last-child) { margin-right: $base-gutter; }
  &__tooltip {
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    bottom: calc(100% + 16px);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    display: none;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    padding: $base-gutter * 3 $base-gutter * 2;
    position: absolute;
    &:after {
      content: '';
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: $base-gutter * 3;
      transform: translateX(-50%);
      width: $base-gutter * 4;
      z-index: 1;
    }
    &:before {
      content: '';
      @include size(16px);
      background-color: $white;
      bottom: -8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      left: 50%;
      position: absolute;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  &__dot {
    @include size(20px);
    border-radius: 50%;
    &.product-color__dot--big {
      @include size(120px);
    }
  }
  &__name {
    margin-top: $base-gutter;;
  }
}
