.product-price {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  &__old {
    text-decoration: line-through;
  }
  &__number {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    white-space: nowrap;
    @media screen and (max-width: $small-tablet-content-size) {
      font-size: 16px;
    }
  }
  &__sign {
    font-size: 16px;
    font-weight: 400;
    @media screen and (max-width: $tablet-content-size) {
      font-size: 14px;
    }
  }
}
