.s-product-materials {
  outline: none;
  padding-top: $base-gutter * 8;
  h2 {
    margin-bottom: $base-gutter * 3;
  }
}

.product-materials {
  &__list {
    @media screen and (min-width: $small-tablet-content-size + 1) {
      column-count: 2;
      column-fill: auto;
    }
    li {
      position: relative;
      padding-left: $base-gutter * 3;
      &:before {
        content: '';
        @include size($base-gutter);
        background-color: #ea6b2a;
        border-radius: 50%;
        left: 0;
        position: absolute;
        top: $base-gutter;
      }
      &:not(:last-child) { margin-bottom: $base-gutter * 2; }
    }
  }
}
