@import "form-group";
@import "input";
@import "textarea";


.form {
  max-width: $base-gutter * 59;
  &__body {
    margin-bottom: $base-gutter * 3;
    & > * {
      margin: $base-gutter * 3 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
}
