.form-group {
  display: flex;
  flex-direction: column;
  &.form-group {
    &--line {
      align-items: center;
      flex-direction: row;
      .form-group {
        &__label {
          flex-shrink: 0;
          margin-right: $base-gutter * 2;
          width: $base-gutter * 12;
        }
      }
    }
    &--height-fill {
      height: 100%;
    }
  }
  &__label {
    color: $form-label-color;
    font-size: 13px;
    margin-bottom: $base-gutter;
    &.form-group__label--big {
      color: $base-text-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: $base-gutter * 2;
    }
  }
}

.js-form-group--delivery { display: none; }
