.input {
  background-color: $field-bg-color;
  border: 1px solid $dark-border-color;
  border-radius: 3px;
  height: $base-gutter * 6;
  padding: $base-gutter $base-gutter * 2;
  &.input {
    &--size {
      &-m {
        width: $base-gutter * 38;
        @media screen and (max-width: $big-phone-content-size) { width: 100%; }
      }
      &-s {
        width: $base-gutter * 23;
        @media screen and (max-width: $big-phone-content-size) { width: 100%; }
      }
      &-fill { width: 100%; }
    }
  }
}
