.textarea {
  background-color: $field-bg-color;
  border: 1px solid $dark-border-color;
  border-radius: 3px;
  height: $base-gutter * 14;
  padding: $base-gutter $base-gutter * 2;
  outline: none;
  &.textarea {
    &--height-fill { height: 100%; }
    &--height-m { height: $base-gutter* 9; }
  }
}
