.order-finish {
  display: flex;
  flex-direction: column;
  &__title  {
    font-size: 50px;
    margin-bottom: $base-gutter * 2;
    @media screen and (max-width: $tablet-content-size) { font-size: 33px; }
  }
  &__number {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: $base-gutter;
    @media screen and (max-width: $tablet-content-size) { font-size: 20px; }
  }
  &__descr {
    font-size: 18px;
    @media screen and (max-width: $tablet-content-size) { font-size: 16px; }
  }
}
