.page-with-menu__aside.aside
	h3 Мебель для детского сада
	ul.aside-nav__list
		each link in ['Стулья для детского сада', 'Столы для детского сада', 'Кровати для детского сада', 'Шкафы для раздевалок для детского сада', 'Шкафы для полотенец и горшков', 'Стеллажи и книжные выставки', 'Уголки природы, ИЗО и спорт уголки', 'Шкафы и стенки', 'Игровая мебель для детских садов', 'Мягкая мебель для детских садов', 'Кухонная мебель для детских садов']
			li.aside-nav__item
				a(href="").aside-nav__link=link
