.catalog {
  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: -$base-gutter;
    .product-prev {
      margin: $base-gutter;
      width: calc(100% / 5 - 16px);
      @media screen and (max-width: 1900px) { width: calc(100% / 4 - 16px); }
      @media screen and (max-width: 1600px) { width: calc(100% / 3 - 16px); }
      @media screen and (max-width: $tablet-content-size) { width: calc(100% / 2 - 16px); }
      @media screen and (max-width: $small-phone-content-size) { width: 100%; }
      &__footer {
        @media screen and (max-width: $big-phone-content-size) { flex-direction: column; }
      }
      &__number {
        @media screen and (max-width: $big-phone-content-size) {
          padding-right: 0;
          position: relative;
        }
      }
      &__price {
        @media screen and (max-width: $big-phone-content-size) { margin-bottom: $base-gutter; }
      }
      &__body {
        height: $base-gutter * 15;
        @media screen and (max-width: $small-phone-content-size) { height: auto; }
      }
    }
  }
  &__sort {
    margin-bottom: $base-gutter * 4;
  }
}
