.s-how-we-produce {
  h2 {
    text-align: center;
    @media screen and (max-width: $big-phone-content-size) { text-align: left; }
  }
}

.how-we-produce {
  &__features {
    margin-bottom: $base-gutter * 8;
    @media screen and (max-width: $small-tablet-content-size) { margin-bottom: $base-gutter * 5; }
    @media screen and (min-width: $big-phone-content-size + 1) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
  &__feature {
    align-items: center;
    flex: 1;
    display: flex;
    &:not(:last-child) {
      margin-right: $base-gutter * 9;
      @media screen and (max-width: $small-tablet-content-size) { margin-right: $base-gutter * 3; }
      @media screen and (max-width: $big-phone-content-size) {
        margin-bottom: $base-gutter * 5;
        margin-right: 0;
      }
    }
  }
  &__icon {
    @include size($base-gutter * 7);
    fill: $how-we-produce-icon-color;
    flex-shrink: 0;
    margin-right: $base-gutter * 3;
    @media screen and (max-width: $small-tablet-content-size) { margin-right: $base-gutter * 2; }
    @media screen and (max-width: $big-phone-content-size) { margin-right: $base-gutter * 4; }
    &.icon-delivery {
      width: $base-gutter * 9;
      @media screen and (max-width: $big-phone-content-size) { margin-right: $base-gutter * 2; }
    }
  }
  iframe {
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: $big-phone-content-size) {
      height: $base-gutter * 34;
    }
  }
}
