.base-tabs {
  &__nav {
    @media screen and (max-width: $big-phone-content-size) {
      overflow: auto;
      justify-content: flex-start;
      margin: 0 $base-gutter * 2;
    }
    &-item {
      border-radius: 50px;
      padding: $base-gutter $base-gutter * 3;
      @media screen and (max-width: $big-phone-content-size) {
        white-space: nowrap;
      }
      &.is-active {
        background-color: $base-tabs-active-color;
        color: $white;
      }
    }
  }
  &__item {
    margin: 0 auto;
    max-width: $base-content-size;
    padding: $base-gutter * 3 $base-gutter * 15 0;
    @media screen and (min-width: $base-content-size + 1) { max-width: $big-content-size; }
    @media screen and (max-width: $small-desktop-content-size) { padding: $base-gutter * 8 $base-gutter * 5 0 ; }
    @media screen and (max-width: $small-tablet-content-size) { padding: $base-gutter * 8 $base-gutter * 3 0 ; }
    @media screen and (max-width: $big-phone-content-size) { padding: $base-gutter * 4 $base-gutter * 2 0 ; }
  }
}
