.s-tabs-section { padding-bottom: 0; }

.tabs-section {
  &__nav {
    @media screen and (max-width: $big-phone-content-size) { padding: 0 $base-gutter * 2; }
    &-item {
      border-radius: 10px 10px 0 0;
      color: $inactive-text-color;
      font-size: 36px;
      font-weight: 500;
      line-height: 1;
      padding: $base-gutter * 2 $base-gutter * 8;
      text-align: center;
      @media screen and (max-width: $small-tablet-content-size) {
        font-size: 30px;
        padding: $base-gutter * 2 $base-gutter * 5;
      }
      @media screen and (max-width: $big-phone-content-size) {
        font-size: 20px;
        text-align: left;
        padding: $base-gutter * 2;
      }
      &.is-active {
        background-color: $gray-bg-color;
        color: $base-text-color;
      }
    }
  }
  &__content { background-color: $gray-bg-color; }
  &__item {
    margin: 0 auto;
    max-width: $base-content-size;
    padding: $base-gutter * 7 0 $base-gutter * 10;
    @media screen and (min-width: $base-content-size + 1) { max-width: $big-content-size; }
  }
}
