.tabs-nav {
  display: flex;
  justify-content: center;
  &__item {
    cursor: pointer;
    &.is-active { cursor: default; }
  }
}

.tabs-content {
  &__item {
    display: none;
    &.is-active { display: block; }
  }
}

@import "base-tabs";
@import "tabs-section";
