h1 Корзина
.basket-step-1__body
	.basket-table
		each i in [1,2,3,4,5]
			.basket-table__row
				.basket-table__delete
				.basket-table__cell.basket-table__cell--image
					img(src="static/images/content/products/product-price.jpg").basket-table__img
					span.basket-table__artikul Арт.: СТ-007
				.basket-table__row-main
					.basket-table__cell.basket-table__cell--name
						span Стол 2-х местный на регулируемых ножках с наклонной столешницей (бук, (0-3гр.))
					.basket-table__actions
						.basket-table__cell.basket-table__cell--counter
							.counter
								.counter__btn.counter__btn--minus(data-direction="minus")
								input(value="1").counter__current
								.counter__btn.counter__btn--plus(data-direction="plus")
							.product-price
								span.product-price__current Цена товара: <span class="product-price__number"> 1450 <span class="product-price__sign">&#8381;</span></span>
						.basket-table__cell.basket-table__cell--total
							.basket-table__total
								span Итого
								span.basket-table__total-price <span class="basket-table__total-number">23310</span> &#8381;
	.basket-total-count
		.basket-total-count__header
			span.basket-total-count__title Итого
		.basket-total-count__body
			span 25 позиций
			span Суммарный вес: 488.8 кг
			span Суммарный объем: 0.962 m3
		.basket-total-count__footer
			.basket-total-count__price
				span На сумму
				span 45670 <span class="basket-total-count__sign">&#8381;</span>
			.basket-total-count__discount
				span Ваша скидка:
				span 17540 &#8381;
			span.basket-total-count__error Мы принимаем заказы на сумму от 10000 р
			button.btn.btn--height-l Оформить

