.tabs.basket-tabs
	ul.tabs__nav.tabs-nav
		li(data-tab-name="t-private").tabs-nav__item.is-active  Частное лицо
		li(data-tab-name="t-organization").tabs-nav__item Организация
	.tabs-content
		.tabs-content__item.t-private.is-active
			.basket-form__body
				.basket-form-block
					.basket-form-block__header
						span.basket-form-block__title Ваши данные
					.basket-form-block__body
						.form-group.form-group--line
							label.form-group__label ФИО
							input.form-group__input.input.input--size-fill
						.form-group.form-group--line
							label.form-group__label Серия и номер паспорта
							input.form-group__input.input.input--size-fill
						.form-group.form-group--line
							label.form-group__label Кем выдан паспорт
							input.form-group__input.input.input--size-fill
						.form-group.form-group--line
							label.form-group__label Когда выдан паспорт
							input.form-group__input.input.input--size-fill
						.form-group.form-group--line
							label.form-group__label Email
							input.form-group__input.input.input--size-fill
						.form-group.form-group--line
							label.form-group__label Телефон
							input.form-group__input.input.input--size-s
				.basket-form-block
					.basket-form-block__header
						span.basket-form-block__title Дополнительная информация
					.basket-form-block__body
						.form-group.form-group--height-fill
							textarea.form-group__textarea.textarea.textarea--height-fill
				.basket-form-block.basket-form-block--delivery
					.basket-form-block__header
						span.basket-form-block__title Доставка
					.basket-form-block__body
						.radio
							label.radio__label
								span.radio__text Самовывоз
								input(type="radio" name="delivery-type" value="own")
								span.radio__custom
							span.radio__descr Осуществляется после получения информации о готовности заказа, по адресу: Московская обл., г. Мытищи, ул. Силикатная, д. 39Ж.
						.radio
							label.radio__label
								span.radio__text Доставка
								input(type="radio" name="delivery-type" value="delivery")
								span.radio__custom
							span.radio__descr По г. Москва и Московской обл. наша компания производит собственным транспортом. Доставка в регионы России осуществляется с помощью транспортных компаний. Стоимость доставки уточняйте у Вашего менеджера
						.form-group.js-form-group--delivery
							label.form-group__label.form-group__label--big Адрес доставки
							textarea.form-group__textarea.textarea.textarea--height-m
				.basket-form-block.basket-form-block--services
					.basket-form-block__header
						span.basket-form-block__title Дополнительные услуги
					.basket-form-block__body
						label.checkbox
							span.checkbox__text Заказать сборку
							input(type="checkbox")
							span.checkbox__custom
			.basket-form__footer
				span.basket-form__delivery <b>Доставка: </b> Уточняйте у менеджера
				span.basket-form__price Итого: <span class="basket-form__price-number"> 234998 р. </span>
				input(type="submit" value='Оформить заказ').btn.btn--height-l.btn--size-l.basket-form__submit

		.tabs-content__item.t-organization
			p 2
