.gallery-prev{
  &__title {
    display: block;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: $base-gutter * 3;
    @media screen and (max-width: $big-phone-content-size) {
      margin-bottom: $base-gutter;
    }
  }
  &__body {
    display: flex;
    position: relative;
    padding-right: $base-gutter * 7;
  }
  &__photo {
    width: calc(100% / 3 - 8px);
    @media screen and (max-width: $tablet-content-size) { width: 50% }
    @media screen and (max-width: $big-phone-content-size) { width: 100%}
    &:nth-child(3) {
      @media screen and (max-width: $tablet-content-size) { display: none; }
    }
    &:nth-child(2) {
      @media screen and (max-width: $big-phone-content-size) { display: none; }
    }
    &:not(:first-child) { margin-left: $base-gutter; }
  }
  &__link {
    align-items: center;
    background-color: $gallery-active-color;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: $base-gutter * 1.5 $base-gutter * 2;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color linear .3s;
    &:hover {
      background-color: #ff9950;
    }
  }
  &__count {
    margin-bottom: $base-gutter / 2;
  }
  &__icon {
    @include size($base-gutter * 3);
    fill: $white;
  }
}
