@import "gallery-prev";

.galleries {
  padding-bottom: $base-gutter * 15;
  & > * {
    margin: $base-gutter * 9 0;
    @media screen and (max-width: $tablet-content-size) { margin: $base-gutter * 4 0; }
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
}

.gallery {
  padding-bottom: $base-gutter * 15;
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px $base-gutter * 7;
  }
  &__footer {
    text-align: center;
  }
}

.gallery-item {
  font-size: 13px;
  margin: 16px 8px;
  width: calc(100% / 5 - 16px);
  @media screen and (max-width: $tablet-content-size) { width: calc(100% / 4 - 16px); }
  @media screen and (max-width: $small-tablet-content-size) { width: calc(100% / 3 - 16px); }
  @media screen and (max-width: $big-phone-content-size) { width: 100%; }
  &__image {
    margin: 0 auto;
    &-wrapper {
      border-radius: 5px;
      margin-bottom: $base-gutter * 1.5;
      overflow: hidden;
    }
  }
  &__title {
    display: block;
  }
}

.gallery-btn {
  @include size(80px);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width: $small-tablet-content-size) {
    @include size(24px);
    bottom: -36px;
    top: auto;
    transform: none;
    z-index: 1050;
  }
  &:before {
    content: '';
    display: block;
    fill: $white;
    @include size(24px);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: $small-tablet-content-size) { @include size(16px); }
  }
  &:hover {
    @media screen and (min-width: $tablet-content-size + 1) { background-color: $gallery-popup-btn-hover-color; }
  }
  &.gallery-btn {
    &--left {
      left: -$base-gutter * 19;
      @media screen and (max-width: $tablet-content-size) { left: -$base-gutter * 15; }
      @media screen and (max-width: $small-tablet-content-size) { left: 25%; }
      &:before {
        background-image: url('../images/general/ie11/chevron-left.svg');
      }
    }
    &--right {
      right: -$base-gutter * 19;
      @media screen and (max-width: $tablet-content-size) { right: -$base-gutter * 15; }
      @media screen and (max-width: $small-tablet-content-size) { right: 25%; }
     &:before {
       background-image: url('../images/general/ie11/chevron-right.svg');
     }
    }
  }
}
.mfp-figure{
  border-radius: 5px;
  overflow: hidden;
}
.mfp-bottom-bar {
  @media screen and (max-width: $small-tablet-content-size) {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }
}

.mfp-title {
  @media screen and (max-width: $small-tablet-content-size) {
    padding-right: 0;
  }
}
img.mfp-img {
  @media screen and (max-width: $small-tablet-content-size) {
    padding-bottom: 0;
  }
}
.mfp-bottom-bar {
  @media screen and (max-width: $small-tablet-content-size) {
    margin-top: 0;
  }
}
.mfp-counter {
  @media screen and (max-width: $small-tablet-content-size) {
    margin: $base-gutter * 2 0;
    position: relative;
  }
}
.mfp-close {
  font-size: 50px;
  opacity: 1;
}
