footer {
  background-color: $footer-bg-color;
  color: $white;
  flex: 0 0 auto;
}

.footer {
  &__main {
    display: flex;
    justify-content: space-between;
    padding: $base-gutter * 7 0 $base-gutter * 5;
    @media screen and (max-width: $big-phone-content-size) {
      flex-direction: column;
      padding: $base-gutter * 3 0 $base-gutter * 6;
    }
  }
  &__logo {
    @media screen and (max-width: $big-phone-content-size) {
      margin-bottom: $base-gutter * 4;
      order: 1;
    }
  }
  &__bottom {
    border-top: 1px solid $footer-border-color;
    display: flex;
    justify-content: space-between;
    padding: $base-gutter * 2 0 $base-gutter * 3;
  }
  &__contacts {
    color: $white;
    display: flex;
    flex-direction: column;
    max-width: 232px;
    @media screen and (min-width: $big-phone-content-size + 1) {
      text-align: right;
    }
    @media screen and (max-width: $big-phone-content-size) {
      margin-bottom: $base-gutter * 6;
      order: 2;
    }
    .phone {
      color: $white;
    }
    & > * {
      margin: 6px 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
}

.copyright {
  font-size: 16px;
}

.made-in {
  font-size: 13px;
  &__link {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
  }
}
