mixin discountListItem(label,discount)
	li.discount-list__item
		span.discount-list__label=label
		span.discount-list__number=discount

.page-with-menu__aside.aside
	h3 Мебель для детского сада
	ul.aside-nav__list
		each link in ['Стулья для детского сада', 'Столы для детского сада', 'Кровати для детского сада', 'Шкафы для раздевалок для детского сада', 'Шкафы для полотенец и горшков', 'Стеллажи и книжные выставки']
			li.aside-nav__item
				a(href="").aside-nav__link=link
		li.aside-nav__item.is-active
			a(href="").aside-nav__link Учительские столы
			ul.aside-subnav__list
				each link in ['Учительские столы  деревянные', 'Учительские столы  с кожаным креслом', 'Учительские столы  прекрасные']
					li.aside-subnav__item
						a(href="").aside-subnav__link=link
				li.aside-subnav__item
					a(href="").aside-subnav__link.is-active Учительские столы  удобные
				li.aside-subnav__item
					a(href="").aside-subnav__link Учительские столы  из пластика
		each link in ['Уголки природы, ИЗО и спорт уголки', 'Шкафы и стенки', 'Игровая мебель для детских садов', 'Мягкая мебель для детских садов', 'Кухонная мебель для детских садов']
			li.aside-nav__item
				a(href="").aside-nav__link=link

	.discount-list
		span.discount-list__title Скидки на мебель:
		ul.discount-list__list
			+discountListItem('до 60 000 -',' 0%')
			+discountListItem('от 60 000 -',' 2%')
			+discountListItem('от 100 000 -',' 3%')
			+discountListItem('от 200 000 -',' 5%')
			+discountListItem('от 300 000 -',' 7%')
			+discountListItem('от 600 000 -',' 10%')
			+discountListItem('от 1 000 000 -',' 20%')
		span.discount-list__descr Внимание! Мы принимаем заказы на сумму свыше 40 000 руб.
