mixin discount(discount,price,mod)
	li.discount__item(data-discount=discount class=mod)
		span.discount__price=price

.discount.catalog__discount
	.discount__content
		span.discount__title Узнайте свою цену
		span.discount__descr Выберите сумму, от которой будет ваш объем заказа, и получите скидку за объем:
	ul.discount__list
		+discount('0','до 60 000','is-active')
		+discount('2','от 60 000','')
		+discount('3','100 000','')
		+discount('5','200 000','')
		+discount('7','300 000','')
		+discount('10','600 000','')
		+discount('20','1 000 000','')
	.discount__result.discount-result
		.discount-result__number
			span.discount-result__title Ваша скидка:
			.discount-result__number-wrapper
				span.discount-result__value 0
				span.dicount-result__percent %
		span.discount-result__descr Все цены в каталоге будут пересчитаны согласно вашей скидке
