.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  height: $base-gutter * 5;
  margin-top: $base-gutter * 8;
  position: relative;
  @media screen and (max-width: $tablet-content-size) {
    margin-top: $base-gutter * 5;
    justify-content: space-between;
    height: auto;
  }
  @media screen and (max-width: $big-phone-content-size) {
    justify-content: center;
    flex-direction: column;
  }
  &__list {
    display: flex;
    @media screen and (min-width: $tablet-content-size + 1) {
      bottom: 0;
      position: absolute;
      right: 0;
    }
    @media screen and (max-width: $big-phone-content-size) {
      margin-top: $base-gutter * 5;
    }
  }
  &__item {
    align-items: center;
    @include size($base-gutter * 5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: color linear .2s;
    &:not(:last-child) { margin-right: $base-gutter; }
    &.is-active { background-color: $pagination-active-color; }
    &:hover { color: #9db037; }
  }
}
