.contacts-list {
  &__item {
    align-items: flex-start;
    display: flex;
    &:not(:last-child) {
      margin-bottom: $base-gutter * 5;
      @media screen and (max-width: $small-tablet-content-size) {
        margin-bottom: $base-gutter * 3;
      }
    }
  }
  &__icon {
    @include size($base-gutter * 4);
    fill: $contacts-icon-color;
    &-wrapper {
      margin-right: $base-gutter * 3;
      @media screen and (max-width: $small-tablet-content-size) {
        margin-right: $base-gutter * 2;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    & > * {
      margin: 6px 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.3;
  }
  &__title,
  &__mail {
    font-size: 18px;
  }

}
