@import "contacts-list";

.contacts {
  @media screen and (min-width: $small-tablet-content-size + 1) { display: flex; }
  @media screen and (max-width: $small-tablet-content-size) { margin: 0 -24px -32px; }
  @media screen and (max-width: $big-phone-content-size) { margin: 0 -16px -32px; }
  &__main {
    margin-right: $base-gutter * 23;
    @media screen and (max-width: $tablet-content-size) { margin-right: $base-gutter * 8; }
    @media screen and (max-width: $small-tablet-content-size) {
      margin-right: 0;
      margin-bottom: $base-gutter * 5;
      padding: 0 $base-gutter * 3;
    }
    @media screen and (max-width: $big-phone-content-size) { padding: 0 $base-gutter * 2; }
  }
  &__map {
    flex-shrink: 0;
    width: $base-gutter * 70;
    @media screen and (max-width: $tablet-content-size) { width: $base-gutter * 55; }
    @media screen and (max-width: $small-tablet-content-size) { width: 100%; }
  }
  &__list {
    margin-bottom: $base-gutter * 6;
    @media screen and (max-width: $big-phone-content-size) { margin-bottom: $base-gutter * 4; }
  }
  &__text { font-size: 13px; }
}

#map-contacts {
  height: $base-gutter * 70;
  @media screen and (max-width: $tablet-content-size) { height: $base-gutter * 60; }
  @media screen and (max-width: $big-phone-content-size) { height: $base-gutter * 45; }
}
