extends template/main

block variables

block content
	section
		.container
			form.basket
				.basket__header
					div.basket__nav.basket-nav
						a(href="basket-step-1.html" data-basket-number="1").basket-nav__item Корзина
						span(data-basket-number="2").basket-nav__item.is-active Ваши данные
						a(href="basket-step-3.html" data-basket-number="3").basket-nav__item Завершение
					.basket-form-block
						.basket-form-block__header
							span.basket-form-block__title Ваш заказ
						.basket-form-block__body
							span.basket-order-price 3 заказа на сумму: <span class="basket-order-price__number">234998 р.</span>
							a(href="basket-step-1.html").basket-go-back Изменить
				.basket__body
					include pages/basket/step-2
