extends template/main

block variables

block content
	section
		.container
			form.basket
				.basket__header
					.basket__nav.basket-nav
						span(data-basket-number="1").basket-nav__item.is-active Корзина
						a(href="basket-step-2.html" data-basket-number="2").basket-nav__item Ваши данные
						span(data-basket-number="3").basket-nav__item Завершение
				.basket__body
					include pages/basket/step-1
