extends template/main

block variables

block content
	section
		.container
			form.basket
				.basket__header
					.basket__nav.basket-nav
						a(href="basket-step-1.html" data-basket-number="1").basket-nav__item Корзина
						span(data-basket-number="2").basket-nav__item Ваши данные
						span(data-basket-number="3").basket-nav__item.is-active  Завершение
				.basket__body
					include pages/basket/step-3
