extends template/main

block variables

block content
	section.s-page-with-menu
		.container
			.page-with-menu
				include pages/catalog/aside
				.page-with-menu__content
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="").breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href="").breadcrumbs__link Оснащение детских садов
					h1 Столы для детских садов
					.sort.catalog__sort
						span.sort__title Сортировать:
						.select.js-select-item.select--sort
							.select__header Сначала дороже
							.select__body
								ul.select__list
									each item in ['Сначала дороже', 'Сначала дешевле', 'По дате добавления', 'По рейтингу']
										li.select__item=item
					include pages/catalog/discount
					.catalog__products
						+product('5','Стол 2-х местный на регулируемых ножках','2310')
						+product('6','Стол 2-х местный на регулируемых ножках с ящиками','23100')
						+product('7','Стол 2-х местный на регулируемых ножках с наклонной столешницей','231000')
						+product('8','Стол 2-х местный на регулируемых ножках с ящиками со столешницей','2310')
						+product('9','Стол шестигранник на регулируемых ножках','2310','Новинка')
						+product('10','Стол 2-х местный на регулируемых ножках','2310')
						+product('11','Стол 2-х местный на регулируемых ножках с ящиками','2310')
						+product('12','Стол 2-х местный на регулируемых ножках с наклонной столешницей','2310')
						+product('13','Стол 2-х местный на регулируемых ножках с ящиками со столешницей','2310')
						+product('9','Стол шестигранник на регулируемых ножках','2310')
						+product('5','Стол 2-х местный на регулируемых ножках с наклонной столешницей','2310')
						+product('7','Стол шестигранник на регулируемых ножках','2310')
					.pagination
						button.btn.btn--type-form.btn--height-m.btn--size-m Показать еще
						ul.pagination__list
							li.pagination__item 1
							li.pagination__item 2
							li.pagination__item.is-active 3
							li.pagination__item 4
