extends template/main

block variables

block content
	section
		.container
			h1 Оснащение детских садов
			.categories
				+categoryPrev('6','','Стулья для детского сада',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('7','category-prev--size-big category-prev--phone-size-small','Кровати для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор", "Мягкие спортивные модули","Мягкие игровые модули", "Элементы мягких модулей", "Дорожные знаки"])
				+categoryPrev('8','','Столы для детского сада',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('9','','Столы для детского сада',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('10','category-prev--phone-size-big','Игровая мебель для ДОУ',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('11','category-prev--size-big','Мягкие модули для детских садов',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор", "Мягкие спортивные модули","Мягкие игровые модули", "Элементы мягких модулей", "Дорожные знаки"])
				+categoryPrev('12','','Уголки природы,спорта, изо',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('13','','Оформление лестничных пролетов',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('14','','Маркеры игрового пространства',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
				+categoryPrev('15','','Шкафы для детского сада',["Сухие бассейны","Контурные игрушки","Развивающие мягкие модули","Мягкий конструктор"])
	include pages/categories/seo
