extends template/main

block variables

block content
	section
		.container
			.contacts
				.contacts__main
					h1 Контакты
					ul.contacts__list.contacts-list
						li.contacts-list__item
							.contacts-list__icon-wrapper
								+icon('phone','contacts-list__icon')
							.contacts-list__content
								a(href="tel:+78007073257").phone.phone--xl +7 (800) 707-32-57
								a(href="tel:+74959843257").phone.phone--xl +7 (495) 984-32-57
						li.contacts-list__item
							.contacts-list__icon-wrapper
								+icon('chat','contacts-list__icon')
							.contacts-list__content
								a(href="mailto:imperial-ltd@mail.ru").contacts-list__mail imperial-ltd@mail.ru
						li.contacts-list__item
							.contacts-list__icon-wrapper
								+icon('dot','contacts-list__icon')
							.contacts-list__content
								span.contacts-list__title Центральный офис и производство:
								span.contacts-list__text Московская обл., г. Мытищи, ул. Силикатная, д. 39 Ж
					p.contacts__text Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, цветой гаммы, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.
				.contacts__map
					#map-contacts.js-map

block script
	script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
