extends template/main

block variables

block content
	section
		.container
			h1 Фотогалерея
			.galleries
				+galleryPrev('Мебель для детского сада',[1,2,3])
				+galleryPrev('Мягкие модули',[4,5,6])
				+galleryPrev('Мебель для школ',[7,8,9])
				+galleryPrev('Офисная мебель',[10,11,12])
