extends template/main

block variables

block content
	section
		.container
			h1 Фотогалерея. Мебель для детского сада
			.gallery
				.gallery__body.js-gallery
					each i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
						a(href="static/images/content/gallery/gallery-2.jpg" title="Описание фото").gallery-item
							.gallery-item__image-wrapper
								img(src="static/images/content/gallery/gallery-1.jpg").gallery-item__image
							span.gallery-item__title Школьные парты
							span.gallery-item__description Стол ученический одноместный нерегулируемый на квадратной трубе с наклонной столешницей
				.gallery__footer
					button.btn.btn--type-form Показать еще
