extends template/main

block variables
	- var title = 'Главная страница'

block content
	include pages/index/slider
	include pages/index/categories
	include pages/index/tabs
	include pages/index/how
	include pages/index/about
	include pages/index/delivery-map


block script
	script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
