ul
	li
		a(href="index.html") Главная
	li
		a(href="categories.html") Категории
	li
		a(href="sub-category.html") Подкатегории
	li
		a(href="catalog.html") Каталог
	li
		a(href="static-page.html") Тектовая
	li
		a(href="reviews.html") Отзывы
	li
		a(href="contacts.html") Контакты
	li
		a(href="galleries.html") Все галереи
	li
		a(href="gallery.html") Страница 1й галереи
	li
		a(href="product.html") Карточка товара
	li
		a(href="basket-step-1.html") Корзина-1
	li
		a(href="basket-step-2.html") Корзина-2
	li
		a(href="basket-step-3.html") Корзина-3
