extends template/main

block variables

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Главная
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Оснащение детских садов
				li.breadcrumbs__item
					a(href="").breadcrumbs__link Столы для детских садов
				li.breadcrumbs__item
					span.breadcrumbs__current Стол 2-х местный на регулируемых ножках
	.product
		include pages/product/product
		include pages/product/materials
		include pages/product/prices
		include pages/product/panorama
		include pages/product/other-products
