extends template/main

block variables

block content
	section
		.container
			h1 Отзывы
			.reviews
				include pages/reviews/form
				ul.reviews__list
					each i in [1,2,3,4]
						li.review
							span.review__author ГБУ АО "Плесецкий детский дом"
							span.review__date 05.07.2019 12:03
							p Администрация, коллектив и воспитанники ГБУ АО «Плесецкий детский дом» выражают глубокую благодарность компании ООО «ДМ Империал» за благотворительную помощь в приобретении детской мебели, за человеческую сердечность и милосердие. Желаем Вам дальнейшего процветания, успехов в благородном деле. Отдельное спасибо, Антону Варфаломееву, за качественную консультацию по всем возникающим вопросам!
