extends template/main

block variables

block content
	section.s-static-page
		.container
			h1 Сотрудничество
			p Наша компания с 2006 года работает на рынке мебели для детского сада а так же детского уличного оборудования и является одним из ведущих поставщиков этого товара в России. Одним из основных своих конкурентных преимуществ мы считаем наличие производственной базы, что позволяет нам быть более гибкими в определении товарного ассортимента и объемах выпускаемой продукции, быстро реагировать на конъюнктуру рынка, формировать привлекательные цены. В целях нашей компании в качестве очередного шага развития запланировано создание сети посредников на территории России.
			p Учитывая различные возможности наших будущих партнеров и особенности продаж мебели для детского сада, мы предлагаем программу взаимовыгодного сотрудничества.
			h3 Став нашим дилером, Вы сможете использовать наши преимущества:
			ul
				li Высокое качество мебели для детского сада
				li Индивидуальное проектирование
				li Доставку товара в ваш регион
				li Гарантийное и постгарантийное обслуживание
				li Модернизацию и поставку комплектующих и дополнительного оборудования
			p Бизнес, которым мы занимаемся, общественно полезен, востребован на рынке и с развитием торговой, развлекательной и досуговой сфер в обществе будет только расти! Это дает нам возможность утверждать, что предложенное нами сотрудничество будет плодотворным, и принесет нашим партнерам стабильно высокий доход!
			p Мы предлагаем агентство по всем товарным группам: мебель для детского сада, оборудование для уличных спортивно-игровых площадок, детские игровые комплексы.
			h3 Поддержка:
			ul
				li Маркетинговая поддержка и совместные программы по продвижению товаров
				li Консультации квалифицированных менеджеров Компании «Империал»
				li Обеспечение документацией, информационными и рекламными материалами
				li Размещение контактной информации Дилера на сайте нашей компании, в разделе "Контакты"
			h3 Достоинства варианта:
			ul
				li Возможность организовать собственное дело без первоначальных затрат на оборудование, персонал и рекламу
				li Информационная, гарантийная и сервисная поддержка со стороны производителя
			h3 Финансовые условия:
			p В случае Вашей заинтересованности в совместной деятельности, мы готовы внимательно изучить все Ваши пожелания по совершенствованию программы.
			p Будем рады видеть Вас в числе наших партнеров!
			h3 Скидки при заказе мебели:
			ul
				li от 60 000 ₽ - 2%
				li от 100 000 ₽ - 3%
				li от 200 000 ₽ - 5%
				li от 300 000 ₽ - 7%
				li от 600 000 ₽ - 10%
				li от 1 000 000 ₽ - 15%
			p По все вопросом обращаться по тел.: (495) 984-32-57, а так же по адресу электронной почты: imperial-ltd@mail.ru
			p Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, цветой гаммы, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437(2) Гражданского кодекса РФ.
