extends template/main

block variables

block content
	section
		.container
			.page-with-menu
				include pages/sub-category/aside
				.page-with-menu__content
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a(href="").breadcrumbs__link Главная
						li.breadcrumbs__item
							a(href="").breadcrumbs__link Оснащение детских садов
					h1 Мягкие модули для детских садов
					.select.sub-category__mobile-menu
						.select__header Мебель для детского сада
						.select__body
							ul.select__list
								each item in ['Школьные стулья', 'Школьные парты', 'Мебель для библиотек', 'Учительские столы', 'Мебель для школьных гардеробов']
									li.select__item=item
					.categories
						+categoryPrev('6','','Стулья для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('7','category-prev--size-big category-prev--phone-size-small','Кровати для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор", "Мягкие спортивные модули", "Мягкие игровые модули", "Элементы мягких модулей", "Дорожные знаки"])
						+categoryPrev('8','','Столы для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('9','','Столы для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('10','category-prev--phone-size-big','Игровая мебель для ДОУ',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('11','category-prev--size-big','Мягкие модули для детских садов',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор", "Мягкие спортивные модули", "Мягкие игровые модули", "Элементы мягких модулей", "Дорожные знаки"])
						+categoryPrev('12','','Уголки природы,спорта, изо',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('13','','Оформление лестничных пролетов',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('14','','Маркеры игрового пространства',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						+categoryPrev('15','','Шкафы для детского сада',["Сухие бассейны", "Контурные игрушки", "Развивающие мягкие модули", "Мягкий конструктор"])
						a(href="").category-prev(style=`background-image:url(static/images/content/categories/prev-1.jpg)`)
							.category-prev__content
								.category-prev__body
								.category-prev__footer
									span.category-prev__name Шкафы для детского сада

	include pages/categories/seo
