@import "discount-list";
@import "discount-result";

.discount {
  background-color: $white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  margin-bottom: $base-gutter * 2;
  padding: $base-gutter * 2 $base-gutter * 25 $base-gutter * 2 $base-gutter * 3;
  position: relative;
  @media screen and (max-width: $tablet-content-size) {
    padding: $base-gutter;
  }
  @media screen and (max-width: $big-phone-content-size) {
    display: none;
  }
  &__content {
    @media screen and (min-width: $tablet-content-size + 1) {
      margin-bottom: $base-gutter * 1.5;
    }
    @media screen and (max-width: $tablet-content-size) {
      height: $base-gutter * 15;
      max-width: $base-gutter * 35;
      padding: $base-gutter $base-gutter * 2;
    }
  }
  &__list {
    display: flex;
    @media screen and (max-width: $tablet-content-size) {
      border-top: 1px solid $base-border-color;
      padding: $base-gutter * 1.5 $base-gutter * 2 $base-gutter / 2;
    }
  }
  &__item {
    &.is-active {
      .discount {
        &__price {
          border-color: $discount-result-bg-color;
          color: $discount-result-bg-color;
          cursor: initial;
          font-weight: 500;
        }
      }
    }
  }
  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    @media screen and (max-width: $tablet-content-size) {
      margin-bottom: $base-gutter;
    }
  }
  &__descr {
    display: block;
    font-size: 13px;
  }
  &__price {
    align-items: center;
    border: 2px solid $white;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: $base-gutter * 4;
    padding: 0 $base-gutter * 1.5;
    text-align: center;
    @media screen and (max-width: $small-desktop-content-size) {
      font-size: 13px;
      padding: 0 $base-gutter;
    }
  }
}

