.discount-result {
  background-color: $discount-result-bg-color;
  border-radius: 5px;
  bottom: $base-gutter / 2;
  color: $white;
  padding: $base-gutter $base-gutter * 2;
  position: absolute;
  right: $base-gutter / 2;
  top: $base-gutter / 2;
  width: $base-gutter * 24;
  @media screen and (max-width: $tablet-content-size) {
    height: $base-gutter * 13;
    right: $base-gutter;
    top: $base-gutter;
    width: $base-gutter * 31;
  }
  &__number {
    align-items: center;
    display: flex;
    @media screen and (min-width: $tablet-content-size + 1) {
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
    max-width: $base-gutter * 7;
  }
  &__value {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
  }
  &__descr {
    display: block;
    font-size: 11px;
    line-height: 1.25;
  }
}
