.discount-list {
  margin-top: $base-gutter * 7;
  padding: 0 $base-gutter * 2;
  &__title {
    display: block;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: $base-gutter * 3;
  }
  &__list {
    font-size: 18px;
    margin-bottom: $base-gutter * 2;
  }
  &__descr {
    font-size: 13px;
  }
  &__number {
    color: $discount-number-color;
    font-weight: 500;
  }
}
