section.s-about
	.container
		.about
			h2 О фабрике мебели “Империал”
			p.about__text С 2006 года наша компания производит мебель для детских садов и школ. Фабрика мебели "Империал" является одним из ведущих производителей и поставщиков детской мебели в учебные заведения в России.
			.about__info.about-info
				.about-info__item
					.about-info__header
						span.about-info__title 12
						span.about-info__descr месяцев
					.about-info__body
						span.about-info__text Гарантия на всю произведенную продукцию
				.about-info__item
					.about-info__header
						span.about-info__descr на
						span.about-info__title 30
						span.about-info__subtitle %
					.about-info__body
						span.about-info__text Цены ниже рыночных, благодаря собственному производству
				.about-info__item
					.about-info__header
						span.about-info__title 2500
					.about-info__body
						span.about-info__text Школ и детских садов в 290 городах оснащены нашей продукцией
