.tabs.base-tabs
	ul.base-tabs__nav.tabs__nav.tabs-nav
		li(data-tab-name="t-for-kid-garden").tabs-nav__item.base-tabs__nav-item.is-active  Для детских садов
		li(data-tab-name="t-for-school").tabs-nav__item.base-tabs__nav-item Для школ
		li(data-tab-name="t-for-office").tabs-nav__item.base-tabs__nav-item Для офисов
		li(data-tab-name="t-for-street").tabs-nav__item.base-tabs__nav-item Уличное оборудование
	.base-tabs__nav__content.tabs-content
		.base-tabs__item.tabs-content__item.t-for-kid-garden.is-active
			.slider
				.js-slider
					each i in [1,2]
						.slider__item
							+product('1','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
						.slider__item
							+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','23100')
						.slider__item
							+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
						.slider__item
							+product('4','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
				.slider-navigation
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider__dots
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
		.base-tabs__item.tabs-content__item.t-for-school
			.slider
				.js-slider
					each i in [1,2,3]
						.slider__item
							+product('4','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
						.slider__item
							+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','23100')
						.slider__item
							+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
						.slider__item
							+product('1','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
				.slider-navigation
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider__dots
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
		.base-tabs__item.tabs-content__item.t-for-office
			.slider
				.js-slider
					each i in [1,2,3,4]
						.slider__item
							+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
						.slider__item
							+product('4','Эко-кровать СОНЯ с высокими спинками (массив)','23100')
						.slider__item
							+product('1','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
						.slider__item
							+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
				.slider-navigation
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider__dots
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
		.base-tabs__item.tabs-content__item.t-for-street
			.slider
				.js-slider
					each i in [1]
						.slider__item
							+product('1','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
						.slider__item
							+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','23100')
						.slider__item
							+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
						.slider__item
							+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
				.slider-navigation
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider__dots
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
