section.s-categories-prev-color.white-bg
	.container
		h2.text-center Категории нашей продукции
		.categories-prev-color
			+categoryPrevColor('1','kids','','kids','Оснащение детских <br>садов','static/images/content/categories/prev-2.jpg')
			+categoryPrevColor('2','school','','school','Оснащение <br>школ')
			+categoryPrevColor('3','office','category-prev-color--size-big category-prev-color--tablet-size-small','office','Офисная <br>мебель','static/images/content/categories/prev-5.jpg',true)
			+categoryPrevColor('4','street','category-prev-color--size-big','street','Уличное<br> оборудование')
			+categoryPrevColor('5','inform','category-prev-color--size-big category-prev-color--tablet-size-small','inform','Информационные<br> стенды')
			+categoryPrevColor('1','kids','','kids','Оснащение детских <br>садов')
			+categoryPrevColor('2','school','','school','Оснащение <br>школ')
			+categoryPrevColor('1','kids','','kids','Оснащение детских <br>садов')
			+categoryPrevColor('2','school','','school','Оснащение <br>школ')
			+categoryPrevColor('3','office','category-prev-color--size-big','office','Офисная <br>мебель')
			+categoryPrevColor('2','school','category-prev-color--tablet-size-big','school','Оснащение <br>школ')
			+categoryPrevColor('1','kids','','kids','Оснащение детских <br>садов')
