section.s-delivery-map.white-bg
	.container
		.delivery-map
			.delivery-map__content
				p Одним из основных своих конкурентных преимуществ мы считаем наличие производственной базы, что позволяет нам быть более гибкими в определении товарного ассортимента и объемах выпускаемой продукции, быстро реагировать на конъюнктуру рынка, формировать привлекательные цены. В целях нашей компании в качестве очередного шага развития запланировано создание сети посредников на территории России.
				p Учитывая различные возможности наших будущих партнеров и особенности продаж мебели для детского сада, мы предлагаем программу взаимовыгодного сотрудничества:
				p Вы отвечаете за оснащение детского сада мебелью? Вас интересуют качественные, безопасные, надёжные и долговечные изделия, которые были бы удобны в использовании и нравились малышам? Обратите внимание на сертифицированную мебель для детского сада марки Империал — это именно то, что вам нужно!
				.delivery-map__features
					span.delivery-map__feature Работаем <br> с НДС
					span.delivery-map__feature Вся Россия и страны <br> Таможенного союза
			.delivery-map__map
				h3 Карта поставок нашей мебели за последний год:
				#delivery-map.js-map
