mixin howWeProduce(icon,text)
	.how-we-produce__feature
		+icon(icon,'how-we-produce__icon')
		span.how-we-produce__text=text

section.s-how-we-produce.white-bg
	.container
		.how-we-produce
			h2.text-center Как мы производим нашу мебель
			.how-we-produce__features
				+howWeProduce('tree','Используем качественные материалы')
				+howWeProduce('produce','Современное оборудование на производстве')
				+howWeProduce('delivery','Продуманная система логистики продукции')
			iframe(width="100%" height="504" src="https://www.youtube.com/embed/XWBi2u4VgKs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
