section.s-main-slider.white-bg
	.main-slider
		.js-main-slider
			.main-slider__item(style="background-image: url('static/images/content/main-slider/main-slider-1.jpg')")
				.main-slider__content
					span.main-slider__title Производим мебель с 2003 года
					span.main-slider__descr для #[span(class="underline underline--green") детских садов], #[span(class="underline underline--green") школ] и #[span(class="underline underline--green") офисов]
			.main-slider__item(style="background-image: url('static/images/content/main-slider/main-slider-1.jpg')")
				.main-slider__content 2
			.main-slider__item(style="background-image: url('static/images/content/main-slider/main-slider-1.jpg')")
				.main-slider__content 3
		.main-slider__slider-navigation.slider-navigation
			.slider-navigation__btn.slider-navigation__btn--prev
				+icon('chevron-left','slider-navigation__icon')
			.slider-navigation__btn.slider-navigation__btn--next
				+icon('chevron-right','slider-navigation__icon')
