section.s-tabs-section.white-bg
	.tabs-section.tabs
		ul.tabs-section__nav.tabs__nav.tabs-nav
			li(data-tab-name="t-news").tabs-section__nav-item.tabs-nav__item.is-active  Новинки мебели
			li(data-tab-name="t-leaders").tabs-section__nav-item.tabs-nav__item Лидеры продаж
		.tabs-section__content.tabs-content
			.tabs-section__item.tabs-content__item.t-news.is-active
				include base-tabs
			.tabs-section__item.tabs-content__item.t-leaders
				include base-tabs
