@font-face {
  font-family: 'Rubik';
  src: local('Rubik Light'), local('Rubik-Light'),
  url('../fonts/Rubiklight/Rubiklight.woff2') format('woff2'),
  url('../fonts/Rubiklight/Rubiklight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Light Italic'), local('Rubik-LightItalic'),
  url('../fonts/Rubiklightitalic/Rubiklightitalic.woff2') format('woff2'),
  url('../fonts/Rubiklightitalic/Rubiklightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), local('Rubik-Regular'),
  url('../fonts/Rubik/Rubik.woff2') format('woff2'),
  url('../fonts/Rubik/Rubik.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Italic'), local('Rubik-Italic'),
  url('../fonts/Rubikitalic/Rubikitalic.woff2') format('woff2'),
  url('../fonts/Rubikitalic/Rubikitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium'), local('Rubik-Medium'),
  url('../fonts/Rubikmedium/Rubikmedium.woff2') format('woff2'),
  url('../fonts/Rubikmedium/Rubikmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
  url('../fonts/Rubikmediumitalic/Rubikmediumitalic.woff2') format('woff2'),
  url('../fonts/Rubikmediumitalic/Rubikmediumitalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Bold'), local('Rubik-Bold'),
  url('../fonts/Rubikbold/Rubikbold.woff2') format('woff2'),
  url('../fonts/Rubikbold/Rubikbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
  url('../fonts/Rubikbolditalic/Rubikbolditalic.woff2') format('woff2'),
  url('../fonts/Rubikbolditalic/Rubikbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Black'), local('Rubik-Black'),
  url('../fonts/Rubikblack/Rubikblack.woff2') format('woff2'),
  url('../fonts/Rubikblack/Rubikblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Black Italic'), local('Rubik-BlackItalic'),
  url('../fonts/Rubikblackitalic/Rubikblackitalic.woff2') format('woff2'),
  url('../fonts/Rubikblackitalic/Rubikblackitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
