// Colors
$white: #ffffff;
$black: #000000;

$gray-bg-color: #f4f4f4;
$dark-bg-color: #e0e0e0;

$base-text-color: #202020;
$mail-link-color: #659c0b;
$hover-link-color: #659c0b;
$inactive-text-color: #a2a2a2;

$base-border-color: #e9e9e6;
$dark-border-color: #d3d3d3;
$footer-border-color: rgba(255, 255, 255, 0.5);

$slider-action-color: #ea6b2a;
$slider-main-banner-action-color: #9baf4c;

$underline-green-line: #9db037;

$base-tabs-active-color: #9baf4c;

$footer-bg-color: #333;

$bg-light-color: #f4f4f4;

$search-icon-color: #848484;

$basket-mini-bg-color: #ea6b2a;
$basket-nav-border-color: #9db037;
$basket-nav-active-color: #c8da69;
$basket-go-back-color: #7d922b;

$category-prev-hover-color: #ff9052;

$category-nav-bg-color: #9db037;
$category-nav-bg-color-hover: #7d922b;
$category-nav-border-color: #acC15d;

$category-subnav-item-bg-hover: #f0f0f0;
$category-subnav-inner-item-bg-hover: #d3d3d3;
$category-subnav-inner-bg: $category-subnav-item-bg-hover;

$category-type-kids-bg-color: #66be57;
$category-type-school-bg-color: #e48a36;
$category-type-office-bg-color: #317bc0;
$category-type-street-bg-color: #e83958;
$category-type-inform-bg-color: #14bcd2;

$aside-nav-link-active-color: #d2e199;
$aside-nav-link-hover-color: #7d922b;

$how-we-produce-icon-color: #7d922b;

$mobile-menu-bg-color: #9db037;

$list-dot-bg-color: #7d922b;

$breadcrumbs-color: #6e841a;

$form-label-color: #8b8b8b;

$field-bg-color: #fbfbfb;

$discount-number-color: #6e841a;
$discount-result-bg-color: #9db037;

$badge-bg-color: #ff0b0b;

$pagination-active-color: #b9cd6c;

$contacts-icon-color: #7d922b;

$select-item-active-color: #659c0b;

$gallery-active-color: #f46819;

$gallery-popup-btn-hover-color: #9db037;

$error-color: #ff1313;

$base-gutter: 8px;

// Sizes
$base-font-size: 16px;

$big-content-size: 1900px;
$base-content-size: 1360px;
$small-desktop-content-size: 1359px;
$tablet-content-size: 1159px;
$small-tablet-content-size: 1023px;
$search-breakpoint: 799px;
$big-phone-content-size: 767px;
$small-phone-content-size: 374px;


// Fonts


// Others

$z-main-subnav: 1;
$z-category-subnav: 2;
$z-basket-mini-on-mobile: 5;
$z-category-nav-fixed: 5;
$z-mobile-menu: 10;
$z-select-body: 10;
