.select {
  border: 1px solid $dark-border-color;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  &.is-active {
    background-color: $white;
    border-color: transparent;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    .select {
      &__body {
        display: block;
      }
      &__header {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.select--sort {
    border: 0;
    background-color: $white;
    min-width: $base-gutter * 21;
    .select {
      &__header {
        height: $base-gutter * 4;
        font-size: 13px;
      }
    }
  }
  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 $base-gutter * 2;
    position: relative;
    &:after {
      content: '';
      @include size(12px);
      background-image: url('../images/general/ie11/chevron-down.svg');
      display: block;
      margin-left: $base-gutter;
    }
  }
  &__body {
    background-color: $white;
    border: 1px solid transparent;
    border-radius: 5px;
    display: none;
    left: 0;
    padding: $base-gutter;
    position: absolute;
    right: 0;
    top: calc(100% - 6px);
    z-index: $z-select-body;
  }
  &__list {
    border-top: 1px solid $dark-border-color;
    padding-top: $base-gutter * 1.5;
  }
  &__item {
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5;
    padding: $base-gutter;
    &.is-active {

      background-color: $bg-light-color;
      color: $select-item-active-color;
    }
  }
}
