.search-line {
  background-color: $bg-light-color;
  border-radius: 5px;
  display: flex;
  flex: 1;
  height: $base-gutter * 5;
  position: relative;
  transition: left linear .3s;
  @media screen and (max-width: $search-breakpoint) {
    margin-left: auto;
    max-width: $base-gutter * 6;
  }
  @media screen and (max-width: $big-phone-content-size) {
    position: absolute;
    left: calc(100% - 168px);
    right: 116px;
  }
  &.is-open {
    @media screen and (max-width: $big-phone-content-size) {
      left: $base-gutter;
      max-width: 100%;
    }
    .search-line {
      &__icon-wrapper { display: none; }
      &__input-wrapper {
        width: 260px;
        @media screen and (max-width: $big-phone-content-size) { width: 100%; }
      }
      &__close {
        @media screen and (max-width: $search-breakpoint) { display: flex; }
      }
    }
  }
  &__input {
    background-color: $bg-light-color;
    border: 0;
    box-shadow: none;
    font-size: 13px;
    line-height: 1.5;
    height: $base-gutter * 5;
    padding: $base-gutter;
    width: 100%;
    &-wrapper {
      background-color: $bg-light-color;
      display: flex;
      @media screen and (max-width: $search-breakpoint) {
        border-radius: 5px;
        left: 0;
        overflow: hidden;
        position: absolute;
        transition: width linear .3s;
        width: 0;
      }
    }
  }
  &__icon {
    @include size(17px);
    fill: $search-icon-color;
    &-wrapper {
      align-items: center;
      bottom: 0;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      width: $base-gutter * 6;
    }
  }
  &__close {
    align-items: center;
    background-color: $bg-light-color;
    display: none;
    flex-shrink: 0;
    justify-content: center;
    margin-left: auto;
    width: $base-gutter * 5;
    &-icon {
      @include size($base-gutter * 1.5)
    }
  }
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
