.btn {
  background-image: linear-gradient(180deg, #FF9052 0%, #EA6B2A 100%);
  border-radius: 5px;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: 14px;
  line-height: 32px;
  height: $base-gutter * 4;
  text-align: center;
  @media screen and (max-width: $tablet-content-size) {
    font-size: 13px;
  }
  &.btn {
    &--size {
      &-s { width: $base-gutter * 13; }
      &-m { width: $base-gutter * 18; }
      &-l { width: $base-gutter * 38; }
    }
    &--height {
      &-m {
        height: $base-gutter * 5;
        line-height: 40px;
      }
      &-l {
        height: $base-gutter * 6;
        line-height: 48px;
      }
    }
    &--type {
      &-form {
        background-color: #9db037;
        background-image: none;
      }
      &-transparent {
        background-color: #9db037;
        background-image: none;
      }
    }
  }
}
