.slick-dots {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    margin-bottom: 5px;
    &:not(:last-child) { margin-right: $base-gutter * 2; }
  }
  .slider__dot {
    @include size($base-gutter);
    border: 1px solid $slider-action-color;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    outline: none;
  }
  .slick-active {
    .slider__dot {
      @include size($base-gutter * 1.5);
      background-color: $slider-action-color;
    }
  }
}

.slider-navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $base-gutter * 4;
  @media screen and (max-width: $small-phone-content-size) {
    padding: 0 $base-gutter;
  }
  & > * {
    &:not(:last-child) {
      margin-right: $base-gutter * 5;
      @media screen and (max-width: $small-phone-content-size) {
        margin-right: $base-gutter;
      }
    }
  }
  &__btn {
    align-items: center;
    background-color: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: $base-gutter *6;
    outline: none;
    width: $base-gutter * 6;
    &:hover {
      .slider-navigation {
        &__icon { fill: $slider-action-color; }
      }
    }
    &.slick-disabled {
      cursor: default;
      opacity: 0.5;
      &:hover {
        .slider-navigation {
          &__icon { fill: $black; }
        }
      }
    }
  }
  &__icon {
    @include size($base-gutter * 2);
  }
}

.slider {
  .product-prev {
    box-shadow: none;
    margin: $base-gutter * 5 $base-gutter;
    &:hover { box-shadow: none; }
  }
}
