.s-main-slider {
  padding: 0;
}

.main-slider {
  overflow: hidden;
  &__content {
    color: $white;
    height: 100%;
    margin: 0 auto;
    max-width: $base-content-size;
    padding: $base-gutter * 13 $base-gutter * 30 $base-gutter * 17 $base-gutter * 12 ;
    @media screen and (max-width: $tablet-content-size) { padding: $base-gutter * 10 $base-gutter * 5; }
    @media screen and (max-width: $small-tablet-content-size) { padding: $base-gutter * 7 $base-gutter * 3; }
    @media screen and (max-width: $big-phone-content-size) { padding: $base-gutter * 16 $base-gutter * 2 $base-gutter * 10; }
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    height: $base-gutter * 50;
    @media screen and (max-width: $small-tablet-content-size) { height: $base-gutter * 40 }
    @media screen and (max-width: $big-phone-content-size) { height: $base-gutter * 70 }
  }
  &__slider-navigation {
    bottom: $base-gutter * 11;
    display: flex;
    position: absolute;
    right: calc((100% - #{$base-content-size}) / 2 + #{$base-gutter * 15});
    z-index: 1;
    @media screen and (max-width: $tablet-content-size) { right: $base-gutter * 5; }
    @media screen and (max-width: $small-tablet-content-size) { bottom: $base-gutter * 7; }
    @media screen and (max-width: $big-phone-content-size) {
      bottom: $base-gutter * 2;
      justify-content: space-between;
      left: 0;
      right: 0;
      padding: 0 $base-gutter * 2;
      width: 100%;
    }
    &.slider-navigation {
      margin-top: 0;
      & > * {
        &:not(:last-child) { margin-right: $base-gutter * 2; }
      }
    }
    .slider-navigation {
      &__btn {
        @include size($base-gutter * 8);
        background-color: $white;
        @media screen and (max-width: $big-phone-content-size) {
          background-color: transparent;
          box-shadow: none;
        }
        &:hover {
          @media screen and (min-width: $big-phone-content-size + 1) {
            background-color: $slider-main-banner-action-color;
          }
          .slider-navigation {
            &__icon {
              @media screen and (min-width: $big-phone-content-size + 1) {
                fill: $white;
              }
            }
          }
        }
      }
      &__icon {
        @include size($base-gutter * 3);
        fill: $slider-main-banner-action-color;
        @media screen and (max-width: $big-phone-content-size) {
          fill: $white;
        }
      }
    }
  }
  &__title {
    display: block;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    @media screen and (max-width: $tablet-content-size) { font-size: 50px; }
    @media screen and (max-width: $small-tablet-content-size) { font-size: 40px; }
  }
  &__descr {
    font-size: 40px;
    font-weight: 500;
    @media screen and (max-width: $tablet-content-size) { font-size: 30px; }
  }
  .slick-dots {
    margin-top: $base-gutter * 3;
    @media screen and (max-width: $big-phone-content-size) {
      bottom: $base-gutter * 5;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: 5;
    }
    .main-slider__dot {
      @include size($base-gutter);
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      outline: none;
      background-color: $base-border-color;
    }
    .slick-active {
      .main-slider__dot {
        @include size($base-gutter);
        background-color: $slider-main-banner-action-color;
      }
    }
  }
}
