.page-with-menu {
  @media screen and (min-width: $small-tablet-content-size + 1) { display: flex; }
  .breadcrumbs__list { margin-bottom: $base-gutter * 2; }
  &__content {
    flex: 1;
    .category-prev {
      width: calc(100% / 3 - 16px);
      @media screen and (max-width: $big-phone-content-size) {
        width: calc(100% / 2 - 16px);
      }
      @media screen and (max-width: $small-phone-content-size) { width: 100%; }
      &.category-prev {
        &--size {
          &-big {
            width: calc(100% / 1.5 - 16px);
            @media screen and (max-width: $big-phone-content-size) { width: 100%; }
          }
        }

        &--phone-size {
          &-small {
            @media screen and (max-width: $big-phone-content-size) and (min-width: $small-phone-content-size + 1) {
              width: calc(100% / 2 - 16px);
            }
          }
          &-big {
            @media screen and (max-width: $big-phone-content-size) and (min-width: $small-phone-content-size + 1)  {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
