.aside {
  flex-shrink: 0;
  margin-right: $base-gutter * 2;
  width: $base-gutter * 36;
  @media screen and (max-width: $tablet-content-size) {
    margin-right: $base-gutter * 4;
  }
  @media screen and (max-width: $small-tablet-content-size) {
    display: none;
  }
  .title-block {
    padding-left: $base-gutter * 2;
  }
}
