form.form.add-review
	.form__body
		.form-group
			label.form-group__label Ваше имя
			input.form-group__input.input.input--size-m
		.form-group
			label.form-group__label Ваш отзыв
			textarea.form-group__textarea.textarea
	.form__footer
		button(type="submit").btn.btn--size-m.btn--height-m.btn--type-form Отправить
