.checkbox {
  cursor: pointer;
  display: block;
  padding-left: 28px;
  position: relative;
  user-select: none;
  input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    &:checked {
      & ~ .checkbox__custom {
        &:after {
          display: block;
        }
      }
    }
  }
  &__custom {
    @include size(16px);
    background-color: $white;
    border: 1px solid $dark-border-color;
    border-radius: 1px;
    left: 0;
    position: absolute;
    top: 3px;
    &:after {
      content: '';
      border: solid $black;
      border-width: 0 2px 2px 0;
      display: none;
      height: 10px;
      left: 5px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 5px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
  }
}
