.header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  &.is-open {
    background-color: $bg-light-color;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-mobile-menu;
    .header {
      &__top { display: block; }
      &__category-nav { display: block; }
    }
    .basket-mini { display: none; }
  }
  &__top {
    @media screen and (min-width: $big-phone-content-size + 1) { border-bottom: 1px solid $base-border-color; }
    @media screen and (max-width: $big-phone-content-size) {
      display: none;
      order: 3;
    }
    .container {
      @media screen and (max-width: $big-phone-content-size) { padding: 0 $base-gutter * 3; }
    }
  }
  &__main {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: $base-gutter * 10;
    padding: $base-gutter 0;
    position: relative;
    @media screen and (max-width: $big-phone-content-size) {
      background-color: $white;
      height: $base-gutter * 8;
      order: 1;
      padding: $base-gutter * 1.5 $base-gutter * 14.5 $base-gutter * 1.5 $base-gutter;
    }
    .container {
      align-items: center;
      @media screen and (max-width: $big-phone-content-size) { padding: 0; }
    }
  }
  &__logo {
    margin-right: $base-gutter * 6;
    @media screen and (max-width: $small-tablet-content-size) { margin-right: $base-gutter * 3; }
    @media screen and (max-width: $big-phone-content-size) { max-width: calc(100% - 64px); }
    .logo {
      &__img {
        max-height: $base-gutter * 8;
        @media screen and (max-width: $big-phone-content-size) { max-height: 38px; }
      }
    }
  }
  &__search-line {
    @media screen and (min-width: $big-phone-content-size + 1) { margin-right: $base-gutter * 4; }
  }
  &__contacts {
    display: flex;
    @media screen and (min-width: $big-phone-content-size + 1) {
      align-items: flex-end;
      flex-direction: column;
      margin-right: $base-gutter * 5;
    }
    @media screen and (max-width: $big-phone-content-size) {
      display: none;
      justify-content: space-between;
      margin-bottom: $base-gutter * 2;
      padding: 0 $base-gutter;
    }
  }
  &__basket-mini { margin-left: auto; }
  &__category-nav {
    @media screen and (max-width: $big-phone-content-size) {
      display: none;
      order: 2;
    }
  }
}
