section.s-static-content.white-bg
	.container
		h2 Оснащение детских садов
		.static-content
			p Одним из основных своих конкурентных преимуществ мы считаем наличие производственной базы, что позволяет нам быть более гибкими в определении товарного ассортимента и объемах выпускаемой продукции, быстро реагировать на конъюнктуру рынка, формировать привлекательные цены. В целях нашей компании в качестве очередного шага развития запланировано создание сети посредников на территории России.
			p Учитывая различные возможности наших будущих партнеров и особенности продаж мебели для детского сада, мы предлагаем программу взаимовыгодного сотрудничества:
			p Вы отвечаете за оснащение детского сада мебелью? Вас интересуют качественные, безопасные, надёжные и долговечные изделия, которые были бы удобны в использовании и нравились малышам? Обратите внимание на сертифицированную мебель для детского сада марки Империал — это именно то, что вам нужно!
