section.s-product-materials#s-product-materials
	.container
		.product-materials
			h2 Материалы
			ul.product-materials__list
				li Влагостойкая ламинированная ФСФ фанера
				li Влагостойкая ФСФ фанера
				li Покрытые порошковыми красками металлические элементы
				li Клееный брус 100х100 мм
				li Оцинкованный крепеж
				li Листовая нержавеющая сталь толщиной 1,5 мм
				li Пластиковые заглушки на места резьбовых соединений
				li Двухкомпонентная краска для деревянных элементов
				li Оцинкованные цепи d=6мм
				li Сиденье резиновое со спинкой
				li Канат из полипропилена
