section.s-product-panorama
	.container
		h2 Панорама интерьера
		.product-panorama
			.product-panorama__view
			.product-panorama__slider
				h3.product-panorama__title Товары на панораме
				.js-panorama-slider
					.slider__item
						+product('1','Эко-кровать СОНЯ с высокими спинками (массив)','2310')
					.slider__item
						+product('2','Эко-кровать СОНЯ с высокими спинками (массив)','23100')
					.slider__item
						+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
					.slider__item
						+product('3','Эко-кровать СОНЯ с высокими спинками (массив)','231000')
				.slider-navigation
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider__dots
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
