section.s-product-prices
	.container
		.product-prices
			h2 Цены
			each sub in ['Бук','Дуб']
				.product-prices__block
					h3.product-prices__subtitle=sub
					.product-prices__table.price-table
						each i in [1,2,3,4]
							.price-table__row
								.price-table__cell.price-table__cell--img
									img(src="static/images/content/products/product-price.jpg" alt="Фото товара")
									span.price-table__artikul Арт.: СТ-007
								.price-table__cell.price-table__cell--name
									span Стол 2-х местный на регулируемых ножках с наклонной столешницей (бук, (0-3гр.))
								.price-table__cell.price-table__cell--info
									span Вес: 15 кг.,
									span Объем: 0,025 m3
								.price-table__cell.price-table__cell--action
									.product-price
										span.product-price__current <span class="product-price__number"> 2310 </span> &#8381;
									.price-table__ad-to-basket
										.counter
											.counter__btn.counter__btn--minus(data-direction="minus")
											input(value="1").counter__current
											.counter__btn.counter__btn--plus(data-direction="plus")
										button.btn.btn--size-s В корзину

