mixin productInfoLine(label,text)
	.product-info__characteristic
		span.product-info__label=label
		span.product-info__text=text

mixin productColor(color,name)
	li.product-color
		.product-color__dot(style=`background-color: ${color}`)
		.product-color__tooltip
			.product-color__dot.product-color__dot--big(style=`background-color: ${color}`)
			span.product-color__name=name


section.s-product-info
	.container
		.product-info
			.product-info__content
				h1 Стол 2-х местный на регулируемых ножках
				.product-info__characteristics
					+productInfoLine('Вес:','10 кг')
					+productInfoLine('Объем:','0,02 m3')
					+productInfoLine('Размеры: ','1200*500*400/460/520/580 (0-3гр,)')
					a(href="#s-product-materials").product-info__more.scroll-link Подробнее
				.product-info__footer
					.product-colors
						span.product-colors__text Цвета:
						ul.product-colors__list
							+productColor('#e79d6a','Имя1')
							+productColor('#f6e6d4','Бук')
							+productColor('#376fb5','Имя3')
							+productColor('#fde3a3','Имя4')
							+productColor('#ff934f','Имя5')
							+productColor('#dd031c','Имя6')
							+productColor('#cfd64b','Имя7')
					.product-info__footer-line
						.product-info__artikul
							span.product-info__artikul-number Арт.: СТ-007
					.product-info__footer-line
						.product-price
							span.product-price__current от <span class="product-price__number"> 2310 </span> &#8381;
						button.btn.btn--size-s Выбрать


			.product-info__media
				span.product-mobile-title Стол 2-х местный на регулируемых ножках
				.product-slider.js-gallery
					.js-product-slider
						.product-slider__item
							.spritespin
						each i in [1,2,3,4,5,6,1,2,3,4]
							a(href=`static/images/content/products/product-slider-${i}.jpg`).product-slider__item
								img(src=`static/images/content/products/product-slider-${i}.jpg` alt="Фото товара")
					.slider-navigation__btn.slider-navigation__btn--prev
						+icon('chevron-left','slider-navigation__icon')
					.slider-navigation__btn.slider-navigation__btn--next
						+icon('chevron-right','slider-navigation__icon')
					.slider__dots

				.product-slider-nav
					.js-product-slider-nav
						.product-slider-nav__item
							img(src=`static/images/general/360v.png` alt="Маленькое фото товара")
						each i in [1,2,3,4,5,6,1,2,3,4]
							.product-slider-nav__item
								img(src=`static/images/content/products/product-slider-${i}.jpg` alt="Маленькое фото товара")
