.about {
  max-width: 1000px;
  &__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin: -$base-gutter * 3 0 $base-gutter * 4;
  }
  &-info {
    @media screen and (min-width: $big-phone-content-size + 1) {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      @media screen and (min-width: $big-phone-content-size + 1) {
        max-width: 260px;
      }
      &:not(:last-child) {
        @media screen and (min-width: $big-phone-content-size + 1) {
          margin-right: $base-gutter * 2;
        }
        @media screen and (max-width: $big-phone-content-size) {
          margin-bottom: $base-gutter * 8;
        }
      }
    }
    &__header {
      margin-bottom: $base-gutter * 2;
      & > * {
        &:not(:last-child) { margin-right: $base-gutter / 2 ; }
      }
    }
    &__title {
      font-size: 80px;
      font-weight: 500;
      line-height: 1;
      @media screen and (max-width: $small-tablet-content-size) { font-size: 70px; }
    }
    &__subtitle {
      font-size: 50px;
    }
    &__descr {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.3;
    }
    &__text {
      font-size: 20px;
      line-height: 1.3;
      @media screen and (max-width: $small-desktop-content-size) { font-size: 16px; }
    }
  }
}
