@import "basket-form";
@import "basket-mini";
@import "basket-nav";
@import "basket-table";
@import "basket-tabs";
@import "basket-total-count";

.basket {
  &__header {
    margin-bottom: $base-gutter * 3;
    position: relative;
    .basket-form-block {
      margin-top: 0;
      @media screen and (min-width: $small-tablet-content-size + 1) {
        position: absolute;
        right: 0;
        top: 0;
      }
      &__body {
        padding-top: $base-gutter * 3;
        & > * {
          margin: $base-gutter / 2 0;
          &:first-child { margin-top: 0; }
          &:last-child { margin-bottom: 0; }
        }
      }
    }
  }
}

.basket-go-back {
  color: $basket-go-back-color;
  cursor: pointer;
  display: block;
}

.basket-order-price {
  font-size: 18px;
  &__number { font-weight: 700; }
}

.basket-step-1__body {
  padding-bottom: $base-gutter * 5;
  @media screen and (min-width: $small-tablet-content-size + 1) {
    align-items: flex-start;
    display: flex;
  }
  h1 {
    @media screen and (max-width: $small-tablet-content-size) { margin-bottom: $base-gutter * 3; }
  }
}
