.basket-mini {
  background-color: $basket-mini-bg-color;
  border-radius: 10px;
  color: $white;
  display: flex;
  fill: $white;
  flex-shrink: 0;
  font-size: 13px;
  @media screen and (max-width: $big-phone-content-size) {
    bottom: $base-gutter * 2;
    position: fixed;
    right: $base-gutter * 2;
    z-index: $z-basket-mini-on-mobile;
  }
  &__icon {
    @include size($base-gutter * 3);
    &-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 54px;
      width: 54px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: $base-gutter $base-gutter * 3 $base-gutter 0;
  }
  &__price {
    font-weight: 500;
  }
}
