.basket-tabs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  .tabs-nav {
    justify-content: flex-start;
    border-bottom: 1px solid $base-border-color;
    &__item {
      cursor: pointer;
      font-size: 16px;
      padding-bottom: $base-gutter / 2;
      &.is-active { border-bottom: 2px solid #9db037; }
      &:not(:last-child) { margin-right: $base-gutter * 4; }
    }
  }
  .tabs-content {
    width: 100%;
  }
}
