.basket-total-count {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: $base-gutter * 4 $base-gutter * 2 $base-gutter * 3;
  @media screen and (min-width: $small-tablet-content-size + 1) {
    background-color: $white;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: $base-gutter * 35;
  }
  @media screen and (max-width: $small-tablet-content-size) {
    padding: $base-gutter * 4 0 0;
  }
  & > * {
    padding: $base-gutter * 2;
    @media screen and (min-width: $small-tablet-content-size + 1) {
      border-bottom: 1px solid $dark-border-color;
    }
    &:first-child { padding-top: 0; }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
  }
  &__body {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 24px;
    @media screen and (max-width: $small-tablet-content-size) {
      border-bottom: 1px solid $dark-border-color;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    .btn {
      margin-top: $base-gutter * 4;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: $base-gutter;
  }
  &__sign {
    font-size: 18px;
    font-weight: 400;
  }
  &__discount {
    display: flex;
    justify-content: space-between;
  }
  &__error {
    color: $error-color;
    font-size: 13px;
    margin-top: $base-gutter * 3;
  }
}
