.basket-table {
  flex: 1;
  margin-right: $base-gutter * 7;
  @media screen and (max-width: $tablet-content-size) { margin-right: $base-gutter * 5; }
  @media screen and (max-width: $small-tablet-content-size) { margin-right: 0; }
  &__row {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
    padding: $base-gutter $base-gutter * 2  $base-gutter 0;
    position: relative;
    @media screen and (min-width: $big-phone-content-size + 1) { display: flex; }
    @media screen and (max-width: $big-phone-content-size) { padding: $base-gutter * 3; }
    @media screen and (max-width: $small-phone-content-size) { padding: $base-gutter * 2 $base-gutter; }
    &:not(:last-child) { margin-bottom: $base-gutter; }
    &:hover {
      @media screen and (min-width: $tablet-content-size + 1) {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
        .basket-table {
          &__delete { display: flex; }
        }
      }
    }
    &-main {
      flex: 1;
      @media screen and (min-width: $tablet-content-size + 1) { display: flex; }
    }
  }
  &__actions {
    position: relative;
    @media screen and (min-width: $big-phone-content-size + 1) { display: flex; }
    @media screen and (max-width: $big-phone-content-size) { padding-right: $base-gutter * 16; }
  }
  &__cell {
    @media screen and (min-width: $big-phone-content-size + 1) {
      padding: $base-gutter $base-gutter * 2;
    }
    &.basket-table__cell {
      &--name {
        flex: 1;
        @media screen and (max-width: $tablet-content-size) {
          border-bottom: 1px solid $dark-border-color;
          padding: $base-gutter  $base-gutter * 5 $base-gutter * 4 0;
        }
        @media screen and (max-width: $big-phone-content-size) {
          margin-bottom: $base-gutter * 3;
          padding: $base-gutter 0 $base-gutter * 2;
        }
      }
      &--image {
        @media screen and (min-width: $big-phone-content-size + 1) {
          align-items: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-shrink: 0;
          width: $base-gutter * 23;
        }
      }
      &--counter {
        flex-shrink: 0;
        width: $base-gutter * 26;
        @media screen and (min-width: $tablet-content-size + 1) {
          border-left: 1px solid $dark-border-color;
          border-right: 1px solid $dark-border-color;
        }
        @media screen and (max-width: $tablet-content-size) {
          display: flex;
          width: auto;
        }
        @media screen and (max-width: $big-phone-content-size) {
          margin-bottom: $base-gutter;
        }
        .counter {
          border: 1px solid $dark-border-color;
          border-radius: 5px;
          margin-bottom: $base-gutter * 2;
          padding: $base-gutter * 1.5;
          width: $base-gutter * 15;
          @media screen and (max-width: $tablet-content-size) {
            margin-bottom: 0;
            order: 2;
          }
          @media screen and (max-width: $big-phone-content-size) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .product-price {
          align-items: flex-start;
          user-select: none;
          @media screen and (max-width: $tablet-content-size) {
            margin-right: $base-gutter * 2;
            order: 1;
          }
          @media screen and (max-width: $big-phone-content-size) {
            margin-right: 0;
          }
          &__number {
            @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) { display: block; }
          }
        }
      }
      &--total {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: flex-end;
        width: $base-gutter * 18;
      }
    }
  }
  &__artikul {
    font-size: 11px;
    @media screen and (min-width: $tablet-content-size + 1) {
      margin-top: auto;
    }
  }
  &__total {
    align-items: baseline;
    display: flex;
    @media screen and (min-width: $big-phone-content-size + 1) { flex-direction: column; }
    span {
      &:not(:last-child) { margin-right: $base-gutter; }
    }
    &-number {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.3;
      @media screen and (max-width: $small-tablet-content-size) {
        font-size: 20px;
      }
    }
  }
  &__delete {
    @include size(24px);
    align-items: center;
    background-image: url('../images/general/ie11/close.svg');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: $base-gutter * 1.5;
    right: $base-gutter * 1.5;
    z-index: 1;
    @media screen and (min-width: $tablet-content-size + 1) { display: none; }
  }
}
