.basket-form-block {
  display: flex;
  flex-direction: column;
  margin-top: $base-gutter * 8;
  @media screen and (min-width: $tablet-content-size + 1) { width: calc(50% - 32px); }
  @media screen and (max-width: $tablet-content-size) and (min-width: $small-tablet-content-size + 1) { width: calc(100% - #{$base-gutter * 54}); }
  @media screen and (max-width: $small-tablet-content-size) {
    margin-top: $base-gutter * 6;
    width: 100%;
  }
  &:nth-child(2n + 2) {
    @media screen and (max-width: $tablet-content-size) and (min-width: $small-tablet-content-size + 1) {
      flex-shrink: 0;
      width: $base-gutter * 47;
    }
  }
  &.basket-form-block {
    &--delivery {
      .basket-form-block {
        &__body {
          & > * {
            margin: $base-gutter * 2  0;
            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
          }
        }
      }
    }
    &--services {
      .form-group { margin-top: auto; }
    }
  }
  &__header {
    border-bottom: 2px solid #9db037;
    padding-bottom: $base-gutter;
  }
  &__title {
    font-size: 30px;
    line-height: 1;
    @media screen and (max-width: $tablet-content-size) {
      font-size: 20px;
      font-weight: 500;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: $base-gutter * 6;
    @media screen and (max-width: $tablet-content-size) { padding-top: $base-gutter * 5; }
    @media screen and (max-width: $small-tablet-content-size) { padding-top: $base-gutter * 4; }
    & > * {
      margin: $base-gutter 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
}


.basket-form {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $base-gutter * 7;

  }
  &__footer {
    align-items: baseline;
    border-top: 2px solid $black;
    display: flex;
    padding-top: $base-gutter * 5;
    @media screen and (max-width: $small-tablet-content-size) {
      flex-direction: column;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: $small-tablet-content-size) { margin-bottom: $base-gutter * 4; }
    &-number { font-size: 25px; }
  }
  &__delivery {
    @media screen and (min-width: $small-tablet-content-size + 1) { margin-right: $base-gutter * 8; }
    @media screen and (max-width: $small-tablet-content-size) { margin-bottom: $base-gutter; }
    b { margin-right: $base-gutter / 2; }
  }
  &__submit {
    @media screen and (min-width: $small-tablet-content-size + 1) { margin-left: auto; }
  }
}
