.basket-nav {
  border: 1px solid $basket-nav-border-color;
  border-radius: 5px;
  display: flex;
  flex: 1;
  margin-bottom: $base-gutter * 4;
  max-width: $base-gutter * 54;
  padding: $base-gutter;
  &__item {
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 12px;
    padding: 0 $base-gutter * 2;
    @media screen and (min-width: $big-phone-content-size + 1) {
      height: $base-gutter * 5;
    }
    @media screen and (max-width: $big-phone-content-size) {
      flex-direction: column;
      text-align: center;
      padding: 0 $base-gutter;
    }
    &:before {
      content: attr(data-basket-number);
      color: #c8c8c8;
      display: block;
      font-size: 30px;
      line-height: 1.3;
      font-weight: 700;
      margin-right: $base-gutter;
    }
    &.is-active {
      background-color: $basket-nav-active-color;
      &:before { color: $white; }
    }
  }
}
