mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/svg/symbol/sprite.svg#" + name)

mixin product(img,name,price,badge)
	.product-prev
		a(href="product.html").product-prev__img-wrapper
			img(src=`static/images/content/products/prev-${img}.jpg` alt="фото продукта").product-prev__img
			if(badge)
				.product-prev__badge.badge=badge
		a(href="product.html").product-prev__body
			span.product-prev__name=name
		.product-prev__footer
			span.product-prev__number Арт.: СТ-007
			.product-price.product-prev__product-price
				span.product-price__old 22310 &#8381;
				span.product-price__current!=`от <span class="product-price__number"> ${price} </span> &#8381;`
			button.btn.btn--size-s Купить

mixin categoryPrevColor(img,mod,size,icon,name,change,bigLinks)
	.category-prev-color(style=`background-image:url(static/images/content/categories/prev-${img}.jpg)` class=`category-prev-color--type-${mod} ${size}` data-change-photo=`${change}`)
		.category-prev-color__body
			ul.category-prev-color__list
				if(bigLinks)
					each link in ['Стулья для детского сада', 'Столы для детского сада', 'Кровати для детского сада', 'Уголки природы, изо, спорта','Стулья для детского сада', 'Столы для детского сада', 'Кровати для детского сада', 'Уголки природы, изо, спорта']
						li.category-prev-color__item
							a(href="").category-prev-color__link=link
				else
					each link in ['Стулья для детского сада', 'Столы для детского сада', 'Кровати для детского сада', 'Уголки природы, изо, спорта']
						li.category-prev-color__item
							a(href="").category-prev-color__link=link
				li.category-prev-color__item
					a(href="").category-prev-color__link-all Все категории (23)
		a(href="").category-prev-color__footer
			if(icon)
				+icon(icon,'category-prev-color__icon')
			span.category-prev-color__name!=name

			
mixin categoryPrev(img,size,name,links)
	.category-prev(style=`background-image:url(static/images/content/categories/prev-${img}.jpg)` class=`${size}`)
		a(href="").category-prev__mobile-link
		.category-prev__content
			.category-prev__body
				ul.category-prev__list
					each link in links
						li.category-prev__item
							a(href="").category-prev__link=link
				a(href="").category-prev__link-all Все категории (23)
			a(href="").category-prev__footer
				span.category-prev__name!=name


mixin galleryPrev(title,photos)
	.gallery-prev
		span.gallery-prev__title=title
		.gallery-prev__body
			each photo in photos
				img(src=`static/images/content/gallery/gallery-prev-${photo}.jpg` alt='Фото превью галереи').gallery-prev__photo
			a(href="gallery.html").gallery-prev__link
				span.gallery-prev__count 14 фото
				+icon('arrow-right','gallery-prev__icon')
