.aside-nav {
  &__list {
    font-size: 13px;
    line-height: 1.2;
  }
  &__link {
    border-radius: 5px;
    display: block;
    padding: $base-gutter $base-gutter * 2;
    position: relative;
    transition: color linear .2s;
    &.is-active{ background-color: $aside-nav-link-active-color; }
    &:hover { color: $aside-nav-link-hover-color; }
    &:after {
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;" xml:space="preserve"><polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
      display: none;
      @include size(12px);
      position: absolute;
      right: $base-gutter * 2;
      top: 0;
    }
  }
  &__item {
    &.is-active {
      background-color: $white;
      border-radius: 5px;
      padding: $base-gutter * 1.5 $base-gutter $base-gutter;
      margin: $base-gutter 0;
      .aside-nav {
        &__link {
          margin-bottom: $base-gutter * 2;
          padding: 0 $base-gutter * 2;
          &:after { display: block; }
        }
      }
      .aside-subnav {
        &__list { display: block; }
      }
    }
  }
}

.aside-subnav {
  &__list {
    display: none;
    font-size: 13px;
    line-height: 1.2;
  }
  &__link {
    border-radius: 5px;
    display: block;
    padding: $base-gutter 13px;
    &:hover { color: $aside-nav-link-hover-color; }
    &.is-active { background-color: $aside-nav-link-active-color; }
  }
}
