.category-subnav {
  display: none;
  flex-direction: column;
  @media screen and (min-width: $big-phone-content-size + 1) {
    left: 0;
    min-width: $base-gutter * 30;
    padding-top: $base-gutter;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: $z-category-subnav;
  }
  &__list {
    flex: 1;
    @media screen and (min-width: $big-phone-content-size + 1) {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);
      padding: $base-gutter * 2 0 $base-gutter * 4;
    }
  }
  &__title {
    display: block;
    padding: $base-gutter $base-gutter * 3;
  }
  &__link {
    display: block;
    padding: $base-gutter $base-gutter * 3;
    @media screen and (max-width: $big-phone-content-size) {
      padding: $base-gutter $base-gutter * 2;
    }
    &.category-subnav__link {
      &--first {
        &:active {
          @media screen and (max-width: $big-phone-content-size) {
            background: $category-subnav-item-bg-hover;
            border-radius: 5px;
            color: $hover-link-color;
          }
        }
      }
      &--mobile-only {
        font-weight: 500;
        @media screen and (min-width: $big-phone-content-size + 1){
          display: none;
        }
      }
    }
  }
  &__item {
    font-size: 13px;
    &:hover {
      @media screen and (min-width: $tablet-content-size) {
        background-color: $category-subnav-item-bg-hover;
        color: $hover-link-color;
        & > .category-subnav {
          display: block;
          width: 100%;
          @media screen and (min-width: $big-phone-content-size + 1) {
            left: calc(100% - #{$base-gutter});
            min-height: 100%;
            right: auto;
            top: 0;
            z-index: -1;
          }
          &__link {
            color: $hover-link-color;
          }
          .category-subnav {
            &__list {
              background-color: $white;
            }
            &__item {
              &:hover {
                background-color: $category-subnav-inner-item-bg-hover;
                color: $base-text-color;
              }
            }
          }
        }
      }
    }
    &.is-active {
      @media screen and (max-width: $big-phone-content-size) {
        background-color: $category-subnav-item-bg-hover;
        border-radius: 5px;
        padding-bottom: $base-gutter * 2;
        & > .category-subnav {
          display: block;
          &__link {
            border-bottom: 1px solid $dark-border-color;
          }
        }
      }
    }
  }
}
