.category-nav {
  background-color: $category-nav-bg-color;
  @media screen and (max-width: $big-phone-content-size) {
    background-color: $bg-light-color;
    padding: $base-gutter * 3 $base-gutter * 2 $base-gutter;
  }
  .container {
    @media screen and (max-width: $tablet-content-size) { padding: 0; }
    @media screen and (min-width: $big-phone-content-size + 1) { align-items: center; }
    @media screen and (max-width: $big-phone-content-size) {
      flex-direction: column;
      padding: $base-gutter;
    }
  }
  &.is-fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-category-nav-fixed;
    .container {
      height: $base-gutter * 8;
      @media screen and (max-width: $tablet-content-size) { padding-right: $base-gutter * 5; }
    }
    .category-nav {
      &__list {
        height: 100%;
      }
      &__title {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;;
        @media screen and (max-width: $small-desktop-content-size) { padding: $base-gutter $base-gutter * 1.5; }
        @media screen and (max-width: $tablet-content-size) { text-align: left; }
      }
      &__item {
        &:not(:last-child) {
          border-right: 0;
          @media screen and (max-width: $tablet-content-size) { border-right: 1px solid $category-nav-border-color; }
        }
      }
    }
    .basket-mini {
      margin: $base-gutter / 2 0 $base-gutter / 2 auto;
    }
  }
  &.is-open {
    .sandwich__line {
      &--top {
        top: 6px;
        transform: rotate(45deg);
      }
      &--middle { opacity: 0; }
      &--bottom {
        top: 6px;
        transform: rotate(-45deg);
      }
    }
    .category-nav {
      &__list {
        @media screen and (max-width: $big-phone-content-size) {
          display: block;
        }
      }
    }
    .container {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
    }
  }
  &__list {
    @media screen and (min-width: $big-phone-content-size + 1) {
      display: flex;
      flex: 1;
    }
    @media screen and (max-width: $big-phone-content-size) {
      display: none;
    }
    &:not(:last-child) {
      @media screen and (min-width: $big-phone-content-size + 1) {
        margin-right: $base-gutter;
      }
    }
  }
  &__item {
    flex: auto;
    position: relative;
    transition: background-color linear .2s;
    &:not(:last-child) {
      @media screen and (min-width: $big-phone-content-size + 1) {
        border-right: 1px solid $category-nav-border-color;
      }
      @media screen and (max-width: $big-phone-content-size) {
        border-bottom: 1px solid $dark-border-color;
      }
    }
    &:hover {
      @media screen and (min-width: $big-phone-content-size + 1) {
        background-color: $category-nav-bg-color-hover;
        & > .category-subnav {
          display: block;
        }
      }
    }
    &:first-child {
      &:hover {
        @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) {
          & > .category-subnav {
            right: auto;
            left: $base-gutter * 2;
          }
        }
      }
    }
    &:last-child {
      &:hover {
        @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) {
          & > .category-subnav {
            left: auto;
            right: $base-gutter * 2;
          }
        }
        @media screen and (min-width: $tablet-content-size + 1) {
          & > .category-subnav {
            .category-subnav {
              @media screen and (min-width: $big-phone-content-size + 1) {
                left: auto;
                right: calc(100% - #{$base-gutter});
              }
            }
          }
        }
      }
    }
    &.is-active {
      @media screen and (max-width: $big-phone-content-size) {
        & > .category-subnav {
          display: block;
        }
      }
    }
  }
  &__title {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    padding: $base-gutter * 2;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: $big-phone-content-size + 1) {
      color: $white;
    }
    @media screen and (max-width: $tablet-content-size) {
      font-size: 12px;
      line-height: 1.4;
      padding: $base-gutter * 2 $base-gutter * 3;
    }
    @media screen and (max-width: $small-tablet-content-size) {
      text-align: left;
    }
    @media screen and (max-width: $big-phone-content-size) {
      padding: $base-gutter * 2;
    }
  }
}

.category-nav-mobile {
  align-items: center;
  background-color: $category-nav-bg-color;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $base-gutter $base-gutter * 2;
  @media screen and (min-width: $big-phone-content-size + 1) { display: none; }
  &__text {
    font-size: 18px;
    font-weight: 500;
  }
}

