.footer-nav {
  display: flex;
  @media screen and (min-width: $big-phone-content-size + 1) {
    margin: 0 $base-gutter * 2;
  }
  @media screen and (max-width: $big-phone-content-size) { order: 3; }
  & > * {
    &:not(:last-child) {
      margin-right: $base-gutter * 11;
      @media screen and (max-width: $small-tablet-content-size) { margin-right: $base-gutter * 9; }
      @media screen and (max-width: $big-phone-content-size) { margin-right: $base-gutter * 8; }
    }
  }
  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: $base-gutter;
  }
  &__link {
    color: $white;
    font-size: 13px;
    line-height: 2;
  }
}
