.main-subnav {
  display: none;
  @media screen and (min-width: $big-phone-content-size + 1) {
    padding-top: $base-gutter * 2;
    position: absolute;
    z-index: $z-main-subnav;
  }
  &__list {
    padding: $base-gutter * 3 $base-gutter * 3 $base-gutter * 5;
    @media screen and (min-width: $big-phone-content-size + 1) {
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);;
    }
    @media screen and (max-width: $big-phone-content-size) {
      padding: 0 $base-gutter * 2 $base-gutter * 2;
    }
  }
  &__item {
    &:not(:last-child) {
      @media screen and (min-width: $big-phone-content-size + 1){
        margin-bottom: $base-gutter;
      }
    }
  }
  &__link {
    display: block;
    font-size: 13px;
    line-height: 1.5;
    @media screen and (max-width: $big-phone-content-size) {
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0;
    }
    &:hover {
      color: $hover-link-color;
    }
  }
}
