.main-nav {
  @media screen and (min-width: $big-phone-content-size + 1) {
    margin-left: auto;
  }
  @media screen and (max-width: $big-phone-content-size) {
    padding-bottom: $base-gutter * 2;
    width: 100%;
  }
  &__list {
    @media screen and (min-width: $big-phone-content-size + 1) {
      align-items: center;
      display: flex;
      height: $base-gutter * 5;
    }
  }
  &__item {
    font-size: 13px;
    @media screen and (max-width: $big-phone-content-size) {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
    }
    &:not(:last-child) {
      @media screen and (min-width: $big-phone-content-size + 1 ) {
        margin-right: $base-gutter * 4;
      }
      @media screen and (max-width: $big-phone-content-size) {
        border-bottom: 1px solid $dark-border-color;
      }
    }
    &:hover {
      @media screen and (min-width: $big-phone-content-size + 1) {
        .main-subnav { display: block; }
        .main-nav {
          &__title,
          &__link { color: $hover-link-color; }
          &__icon {
            fill: $hover-link-color;
            transform: rotate(180deg);
          }
        }
      }
    }
    &.is-open {
      .main-subnav {
        @media screen and (max-width: $big-phone-content-size) {
          display: block;
        }
      }
      .main-nav {
        &__icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__link {
    @media screen and (max-width: $big-phone-content-size) {
      display: block;
      padding: $base-gutter * 2 0;
    }
  }
  &__title {
    align-items: center;
    display: flex;
    @media screen and (max-width: $big-phone-content-size) {
      justify-content: space-between;
      padding-right: $base-gutter * 2;
    }
  }
  &__icon {
    margin-left: 10px;
    height: 10px;
    width: 10px;
  }
}
