-var subnavLink = ['Сухие бассейны', 'Контурные игрушки', 'Развивающие мягкие модули', 'Мягкий конструктор', 'Мягкие спортивные модули', 'Мягкие игровые модули', 'Элементы мягких модулей', 'Дорожные знаки'];
.category-subnav
	ul.category-subnav__list
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Стулья для детского сада
			.category-subnav
				ul.category-subnav__list
					each link in subnavLink
						li.category-subnav__item
							a(href="").category-subnav__link=link
					li.category-subnav__item
						a(href="").category-subnav__link.category-subnav__link--mobile-only Все товары данной категории
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Стулья для детского сада
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Столы для детского сада
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Кровати для детского сада
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Уголки природы, изо, спорта
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Шкафы для детского сада
			.category-subnav
				ul.category-subnav__list
					each link in subnavLink
						li.category-subnav__item
							a(href="").category-subnav__link=link
					li.category-subnav__item
						a(href="").category-subnav__link.category-subnav__link--mobile-only Все товары данной категории
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Игровая мебель для доу
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Мягкая мебель для доу
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Мягкие модули
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Маркеры игрового пространства
		li.category-subnav__item
			a(href="").category-subnav__link.category-subnav__link--first Оформление лестничных пролетов
