.category-nav.header__category-nav
	.container.container--flex
		.category-nav-mobile
			span.category-nav-mobile__text Каталог продукции
			.sandwich
				.sandwich__line.sandwich__line--top
				.sandwich__line.sandwich__line--middle
				.sandwich__line.sandwich__line--bottom
		ul.category-nav__list
			li.category-nav__item
				a(href="").category-nav__title Оснащение детских садов
				include category-subnav
			li.category-nav__item
				a(href="").category-nav__title Оснащение школ
				include category-subnav
			li.category-nav__item
				a(href="").category-nav__title Информационные стенды
				include category-subnav
			li.category-nav__item
				a(href="").category-nav__title Офисная мебель
				include category-subnav
			li.category-nav__item
				a(href="").category-nav__title Уличное оборудование
				include category-subnav
