nav.footer-nav
	ul.footer-nav__list
		li.footer-nav__item
			span.footer-nav__title Компания
		each link in ['О компании', 'Сертификаты', 'О продукции', 'Сотрудничество']
			li.footer-nav__item
				a(href="").footer-nav__link=link

	ul.footer-nav__list
		li.footer-nav__item
			span.footer-nav__title Продукция
		each link in ['Для детских садов', 'Для школ и вузов', 'Для офисов', 'Уличное оборудование', 'Информационные стенды']
			li.footer-nav__item
				a(href="").footer-nav__link=link
