-var subnavLink = ['Госзаказчикам', 'Дилерам', 'Детские сады', 'Школы и вузы', 'Участникам акукциона', 'Строительным организациям', 'Розничным магазинам', 'Интернет-магазинам', 'Родительским комитетам', 'Производителям мебели', 'ТСЖ'];

mixin mainNavItem(text)
	li.main-nav__item
		.main-nav__title
			a(href="").main-nav__link=text
			+icon('chevron-down','main-nav__icon')
		.main-subnav
			ul.main-subnav__list.main-nav__main-subnav
				each link in subnavLink
					li.main-subnav__item
						a(href="").main-subnav__link=link

nav.header__main-nav.main-nav
	ul.main-nav__list
		+mainNavItem('О компании')
		li.main-nav__item
			a(href="").main-nav__link Сертификаты
		+mainNavItem('О продукции')
		+mainNavItem('Сотрудничество')
		li.main-nav__item
			a(href="").main-nav__link Контакты
