.reviews {
  &__list {
    max-width: $base-gutter * 120;
    & > * {
      margin: $base-gutter * 6 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
}
.review {
  display: flex;
  flex-direction: column;
  &__author {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
  }
  &__date {
    font-size: 18px;
    margin-bottom: $base-gutter * 2;
  }
}

.add-review {
  margin-bottom: $base-gutter * 9;
}
