
.category-prev {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: $base-gutter * 40;
  margin: $base-gutter;
  position: relative;
  width: calc(100% / 4 - 16px);
  @media screen and (max-width: $small-tablet-content-size) {
    width: calc(100% / 3 - 16px);
  }
  @media screen and (max-width: $big-phone-content-size) {
    height: $base-gutter * 28;
    width: calc(100% / 2 - 16px);
  }
  @media screen and (max-width: $small-phone-content-size) {
    width: 100%
  }

  &.category-prev {
    &--size {
      &-big {
        width: calc(100% / 2 - 16px);
        @media screen and (max-width: $small-tablet-content-size) {
          width: calc(100% / 1.5 - 16px);
        }
        @media screen and (max-width: $big-phone-content-size) {
          width: 100%;
        }

        .category-prev {
          &__list {
            column-count: 2;
            column-rule: 2px solid $base-border-color;
            column-gap: 6em;
            column-fill: auto;
          }
        }
      }
    }

    &--phone-size {
      &-small {
        @media screen and (max-width: $big-phone-content-size) and (min-width: $small-phone-content-size + 1) {
          width: calc(100% / 2 - 16px);
        }
      }

      &-big {
        @media screen and (max-width: $big-phone-content-size) and (min-width: $small-phone-content-size + 1) {
          width: 100%;
        }
      }
    }
  }

  &:before {
    content: '';
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity linear .3s;
    width: 100%;
  }

  &:hover {
    @media screen and (min-width: $tablet-content-size + 1) {
      &:before {
        opacity: 1;
      }
      .category-prev {
        &__body {
          opacity: 1;
        }

        &__footer {
          border-top-color: $category-prev-hover-color;
        }
      }
    }
  }

  &__list {
    flex: 1;
    padding-bottom: $base-gutter;
  }

  &__content {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $base-gutter * 3 $base-gutter * 4 0;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $tablet-content-size) {
      padding: $base-gutter * 3 $base-gutter * 3 0;
      position: static;
    }
    @media screen and (max-width: $big-phone-content-size) {
      padding: $base-gutter * 2 $base-gutter * 2 0;

    }
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    opacity: 0;
    padding-bottom: $base-gutter;
    transition: opacity linear .3s;
    @media screen and (max-width: $tablet-content-size) {
      display: none;
    }
  }

  &__link {
    color: $white;
    line-height: 2;

    &:hover {
      color: $category-prev-hover-color;
    }
  }

  &__link-all {
    align-self: flex-end;
    color: $white;
    font-size: 13px;
    margin-top: auto;
  }

  &__footer {
    border-top: 1px solid $white;
    margin-top: auto;
    padding: $base-gutter * 2 0 $base-gutter * 4;
    @media screen and (max-width: $tablet-content-size) {
      align-items: center;
      display: flex;
      padding: $base-gutter 0;
      height: $base-gutter * 12;
    }
    @media screen and (max-width: $big-phone-content-size) {
      height: $base-gutter * 9;
    }
  }

  &__name {
    color: $white;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    max-width: $base-gutter * 30;
    @media screen and (max-width: $big-phone-content-size) {
      font-size: 15px;
      max-width: 130px;
    }
  }

  &__mobile-link {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    @media screen and (max-width: $tablet-content-size) {
      display: block;
    }
  }
}
