.categories-prev-color {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $big-phone-content-size + 1) {
    margin: -$base-gutter;
  }
}
.s-categories-prev-color {
  h2 {
    text-align: center;
    @media screen and (max-width: $big-phone-content-size) { text-align: left; }
  }
}

.category-prev-color {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: $base-gutter * 41;
  margin: $base-gutter;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: $tablet-content-size + 1) {
    width: calc(100% / 4 - 16px);
  }
  @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1){
    width: calc(100% / 3 - 16px);
  }
  @media screen and (max-width: $big-phone-content-size) {
    margin: $base-gutter 0;
    width: 100%;
  }
  &.category-prev-color {
    &--size {
      &-big {
        @media screen and (min-width: $tablet-content-size + 1) {
          width: calc(100% / 2 - 16px);
        }
        @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) {
          width: calc(100% / 1.5 - 16px);
        }
        .category-prev-color {
          &__list {
            display: block;
            column-count: 2;
            column-fill: auto;
          }
          &__item {
            &:last-child { margin-top: 0; }
          }
        }
      }
    }
    &--tablet-size {
      &-small {
        @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) {
          width: calc(100% / 3 - 16px);
        }
      }
      &-big {
        @media screen and (max-width: $tablet-content-size) and (min-width: $big-phone-content-size + 1) {
          width: calc(100% / 1.5 - 16px);
        }
      }
    }
    &--type {
      &-kids {
        .category-prev-color {
          &__body { background-color: $category-type-kids-bg-color; }
          &__footer { background-color: $category-type-kids-bg-color; }
        }
      }
      &-school {
        .category-prev-color {
          &__body { background-color: $category-type-school-bg-color; }
          &__footer { background-color: $category-type-school-bg-color; }
        }
      }
      &-office {
        .category-prev-color {
          &__body { background-color: $category-type-office-bg-color; }
          &__footer { background-color: $category-type-office-bg-color; }
        }
      }
      &-street {
        .category-prev-color {
          &__body { background-color: $category-type-street-bg-color; }
          &__footer { background-color: $category-type-street-bg-color; }
        }
      }
      &-inform {
        .category-prev-color {
          &__body { background-color: $category-type-inform-bg-color; }
          &__footer { background-color: $category-type-inform-bg-color; }
        }
      }
    }
  }
  &:hover {
    .category-prev-color {
      &__body { opacity: 1; }
    }
  }
  &__body {
    flex: 1;
    opacity: 0;
    overflow: hidden;
    padding: $base-gutter * 3;
    position: relative;
    transition: opacity linear .2s;
    &:after {
      content: '';
      background-color: $white;
      bottom: 0;
      height: 1px;
      left: $base-gutter * 2;
      position: absolute;
      right: $base-gutter * 2;
    }

    @media screen and (max-width: $tablet-content-size) {
      display: none;
    }
    & > * {
      margin: $base-gutter 0;
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }
  &__footer {
    color: $white;
    align-items: center;
    display: flex;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    flex-shrink: 0;
    height: $base-gutter * 10;
    margin-top: auto;
    padding: $base-gutter $base-gutter * 3;
    text-transform: uppercase;
    & > * {
      &:not(:last-child) { margin-right: $base-gutter * 2; }
    }

    @media screen and (max-width: $tablet-content-size) {
      text-decoration: underline;
    }
  }
  &__icon {
    @include size($base-gutter * 6);
    fill: $white;
  }
  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__item {
    &:not(:last-child) { margin-bottom: $base-gutter; }
    &:last-child {
      margin-top: auto;
    }
  }
  &__link {
    color: $white;
    font-size: 13px;
  }
  &__link-all {
    color: $white;
    font-size: 13px;
    font-weight: 500;
    margin-top: auto;
  }
}
