h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: $base-gutter * 6;
  @media screen and (max-width: $big-phone-content-size) { font-size: 33px; }
}

h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: $base-gutter * 7;
  line-height: 1;
  @media screen and (max-width: $small-phone-content-size) {
    font-size: 30px;
    margin-bottom: $base-gutter * 4;
  }
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: $base-gutter * 3;
}
.s-static-page {
  li {
    position: relative;
    padding-left: $base-gutter * 3;
    &:before {
      content: '';
      @include size($base-gutter);
      background-color: $list-dot-bg-color;
      border-radius: 50%;
      left: 0;
      position: absolute;
      top: $base-gutter;
    }
    &:not(:last-child) { margin-bottom: $base-gutter * 2; }
  }
  ul { margin: $base-gutter * 3 0; }
}

p + p { margin-top: $base-gutter * 3; }
* + h3 { margin-top: $base-gutter * 5; }

.phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  @media screen and (max-width: $small-phone-content-size) { font-size: 14px; }
  &.phone--l { font-size: 20px; }
  &.phone--xl {
    font-size: 25px;
    @media screen and (max-width: $big-phone-content-size) { font-size: 20px; }
  }
}

.mail-link {
  color: $mail-link-color;
  font-size: 13px;
  &.mail-link--l { font-size: 16px; }
}

.underline {
  border-bottom: 2px solid $black;
  &.underline--green { border-bottom-color: $underline-green-line; }
}



