.counter {
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  display: inline-flex;
  flex-shrink: 0;
  width: $base-gutter * 12;
  &__btn {
    @include size(25px);
    align-items: center;
    background-color: #fafafa;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    &:before {
      @include size(12px);
      content: '';
      display: block;
    }
    &.counter__btn {
      &--minus {
        &:before {
          background-image: url('../images/general/ie11/minus.svg');
        }
      }
      &--plus {
        &:before {
          background-image: url('../images/general/ie11/plus.svg');
        }
      }
    }
  }
  &__current {
    border: 0;
    box-shadow: none;
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }
}
