.radio {
  &__label {
    cursor: pointer;
    display: block;
    padding-left: 28px;
    position: relative;
    user-select: none;
    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      &:checked {
        & ~ .radio__custom {
          &:after {
            display: block;
          }
        }
      }
    }
  }

  &__custom {
    @include size(16px);
    background-color: $white;
    border: 1px solid $dark-border-color;
    border-radius: 50px;
    left: 0;
    position: absolute;
    top: 5px;
    &:after {
      @include size(6px);
      content: '';
      background-color: $black;
      display: none;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
  &__descr {
    display: block;
    margin-top: $base-gutter * 2;
  }
}
