.sandwich {
    height: 14px;
    position: relative;
    width: 20px;
    &__line {
        background-color: $white;
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transition: all linear .4s;
        width: 100%;
        &--top { top: 0; }
        &--middle { top: 6px; }
        &--bottom { top: 12px; }
    }
}

