footer.footer
	.container
		.footer__main
			.logo.footer__logo
				img(src="static/images/general/logo-2.svg" alt="Логотип").logo__img
			include ../navigation/footer-nav
			.footer__contacts
				a(href="tel:+74959843257").phone.phone--l +7 (495) 984-32-57
				span Московская обл, г. Мытищи, ул. Силикатная, д. 39Ж
				a(href="mailto:imperial-ltd@mail.ru").mail-link.mail-link--l Письмо директору
		.footer__bottom
			span.copyright dm-imperial.ru 2019
			.made-in Cделано в #[a(href="" class="made-in__link") Ленсайт]
